{% extends 'eplastic/base.html' %}
{% block content %}
			<section class="page_breadcrumbs ds parallax section_padding_top_65 section_padding_bottom_65">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2 class="highlight">Mosaic</h2>
							<ol class="breadcrumb darklinks">
								<li>
									<a href="index.html">
							Home
						</a>
								</li>
								<li>
									<a href="#">Blog</a>
								</li>
								<li class="active">Mosaic</li>
							</ol>
						</div>
					</div>
				</div>
			</section>

			<section class="ls page_portfolio section_padding_top_100 section_padding_bottom_75">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">

							<div class="isotope_container isotope row masonry-layout columns_margin_bottom_20">

								<div class="isotope-item col-lg-4 col-md-6 col-sm-12">

									<article class="vertical-item content-padding with_background text-center rounded overflow-hidden">
										<div class="item-media">
											<img src="images/gallery/01.jpg" alt="">
										</div>
										<div class="item-content">
											<p class="text-center item-meta">
							<span class="entry-date highlightlinks">
								<a href="blog-right.html" rel="bookmark">
									<time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
										March 9, 2017
									</time>
								</a>
							</span>
						</p>
											<h4 class="entry-title">
												<a href="blog-single-left.html">The importance of disposing electronic waste</a>
											</h4>
											<p class="margin_0">
							Clients can simply schedule their hard drive destruction online and through our website.
						</p>
											<a href="blog-single-left.html" class="read-more"></a>
										</div>
									</article>

								</div>

								<div class="isotope-item col-lg-4 col-md-6 col-sm-12">

									<article class="vertical-item content-padding with_background text-center rounded overflow-hidden">
										<div class="item-media">
											<img src="images/gallery/02.jpg" alt="">
										</div>
										<div class="item-content">
											<p class="text-center item-meta">
							<span class="entry-date highlightlinks">
								<a href="blog-right.html" rel="bookmark">
									<time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
										March 9, 2017
									</time>
								</a>
							</span>
						</p>
											<h4 class="entry-title">
												<a href="blog-single-left.html">The importance of disposing electronic waste</a>
											</h4>
											<p class="margin_0">
							Clients can simply schedule their hard drive destruction online and through our website.
						</p>
											<a href="blog-single-left.html" class="read-more"></a>
										</div>
									</article>

								</div>

								<div class="isotope-item col-lg-4 col-md-6 col-sm-12">

									<article class="vertical-item content-padding with_background text-center rounded overflow-hidden">
										<div class="item-media">
											<img src="images/gallery/03.jpg" alt="">
										</div>
										<div class="item-content">
											<p class="text-center item-meta">
							<span class="entry-date highlightlinks">
								<a href="blog-right.html" rel="bookmark">
									<time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
										March 9, 2017
									</time>
								</a>
							</span>
						</p>
											<h4 class="entry-title">
												<a href="blog-single-left.html">The importance of disposing electronic waste</a>
											</h4>
											<p class="margin_0">
							Clients can simply schedule their hard drive destruction online and through our website.
						</p>
											<a href="blog-single-left.html" class="read-more"></a>
										</div>
									</article>

								</div>

								<div class="isotope-item col-lg-4 col-md-6 col-sm-12">

									<article class="vertical-item content-padding with_background text-center rounded overflow-hidden">
										<div class="item-media">
											<img src="images/gallery/04.jpg" alt="">
										</div>
										<div class="item-content">
											<p class="text-center item-meta">
							<span class="entry-date highlightlinks">
								<a href="blog-right.html" rel="bookmark">
									<time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
										March 9, 2017
									</time>
								</a>
							</span>
						</p>
											<h4 class="entry-title">
												<a href="blog-single-left.html">The importance of disposing electronic waste</a>
											</h4>
											<p class="margin_0">
							Clients can simply schedule their hard drive destruction online and through our website.
						</p>
											<a href="blog-single-left.html" class="read-more"></a>
										</div>
									</article>

								</div>

								<div class="isotope-item col-lg-4 col-md-6 col-sm-12">

									<article class="vertical-item content-padding with_background text-center rounded overflow-hidden">
										<div class="item-media">
											<img src="images/gallery/05.jpg" alt="">
										</div>
										<div class="item-content">
											<p class="text-center item-meta">
							<span class="entry-date highlightlinks">
								<a href="blog-right.html" rel="bookmark">
									<time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
										March 9, 2017
									</time>
								</a>
							</span>
						</p>
											<h4 class="entry-title">
												<a href="blog-single-left.html">The importance of disposing electronic waste</a>
											</h4>
											<p class="margin_0">
							Clients can simply schedule their hard drive destruction online and through our website.
						</p>
											<a href="blog-single-left.html" class="read-more"></a>
										</div>
									</article>

								</div>

								<div class="isotope-item col-lg-4 col-md-6 col-sm-12">

									<article class="vertical-item content-padding with_background text-center rounded overflow-hidden">
										<div class="item-media">
											<img src="images/gallery/06.jpg" alt="">
										</div>
										<div class="item-content">
											<p class="text-center item-meta">
							<span class="entry-date highlightlinks">
								<a href="blog-right.html" rel="bookmark">
									<time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
										March 9, 2017
									</time>
								</a>
							</span>
						</p>
											<h4 class="entry-title">
												<a href="blog-single-left.html">The importance of disposing electronic waste</a>
											</h4>
											<p class="margin_0">
							Clients can simply schedule their hard drive destruction online and through our website.
						</p>
											<a href="blog-single-left.html" class="read-more"></a>
										</div>
									</article>

								</div>

								<div class="isotope-item col-lg-4 col-md-6 col-sm-12">

									<article class="vertical-item content-padding with_background text-center rounded overflow-hidden">
										<div class="item-media">
											<img src="images/gallery/07.jpg" alt="">
										</div>
										<div class="item-content">
											<p class="text-center item-meta">
							<span class="entry-date highlightlinks">
								<a href="blog-right.html" rel="bookmark">
									<time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
										March 9, 2017
									</time>
								</a>
							</span>
						</p>
											<h4 class="entry-title">
												<a href="blog-single-left.html">The importance of disposing electronic waste</a>
											</h4>
											<p class="margin_0">
							Clients can simply schedule their hard drive destruction online and through our website.
						</p>
											<a href="blog-single-left.html" class="read-more"></a>
										</div>
									</article>

								</div>

								<div class="isotope-item col-lg-4 col-md-6 col-sm-12">

									<article class="vertical-item content-padding with_background text-center rounded overflow-hidden">
										<div class="item-media">
											<img src="images/gallery/08.jpg" alt="">
										</div>
										<div class="item-content">
											<p class="text-center item-meta">
							<span class="entry-date highlightlinks">
								<a href="blog-right.html" rel="bookmark">
									<time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
										March 9, 2017
									</time>
								</a>
							</span>
						</p>
											<h4 class="entry-title">
												<a href="blog-single-left.html">The importance of disposing electronic waste</a>
											</h4>
											<p class="margin_0">
							Clients can simply schedule their hard drive destruction online and through our website.
						</p>
											<a href="blog-single-left.html" class="read-more"></a>
										</div>
									</article>

								</div>

								<div class="isotope-item col-lg-4 col-md-6 col-sm-12">

									<article class="vertical-item content-padding with_background text-center rounded overflow-hidden">
										<div class="item-media">
											<img src="images/gallery/09.jpg" alt="">
										</div>
										<div class="item-content">
											<p class="text-center item-meta">
							<span class="entry-date highlightlinks">
								<a href="blog-right.html" rel="bookmark">
									<time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
										March 9, 2017
									</time>
								</a>
							</span>
						</p>
											<h4 class="entry-title">
												<a href="blog-single-left.html">The importance of disposing electronic waste</a>
											</h4>
											<p class="margin_0">
							Clients can simply schedule their hard drive destruction online and through our website.
						</p>
											<a href="blog-single-left.html" class="read-more"></a>
										</div>
									</article>

								</div>

							</div>
							<!-- eof .isotope_container.row -->

							<div class="row">
								<div class="col-sm-12 text-center">
									<img src="img/loading.png" alt="" class="fa-spin" />
								</div>
							</div>

						</div>
					</div>
				</div>
			</section>
{% endblock %}