{% extends 'eplastic/base.html' %}
{% block content %}
			<section class="page_breadcrumbs ds parallax section_padding_top_65 section_padding_bottom_65">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2 class="highlight">Coming Soon 2</h2>
							<ol class="breadcrumb darklinks">
								<li>
									<a href="index.html">
							Home
						</a>
								</li>
								<li>
									<a href="#">Features</a>
								</li>
								<li class="active">Coming Soon 2</li>
							</ol>
						</div>
					</div>
				</div>
			</section>


			<section id="comingsoon1" class="ls section_padding_top_100 section_padding_bottom_75">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">

							<h2 class="section_header">
								Coming Soon!
							</h2>
							<p>Stay Tuned!</p>

							<div id="comingsoon-countdown"></div>

						</div>
					</div>
				</div>
			</section>

			<section id="subscribe" class="section_subscribe cs parallax section_padding_50 table_section table_section_md">
				<div class="container">
					<div class="row">
						<div class="col-md-8 text-center text-md-left">
							<h2 class="bottommargin_10">Do You Want To Be New Member?</h2>
							<p class="fontsize_20 grey margin_0">Sed ut perspiciatis unde omnis iste natus error sit.</p>
						</div>
						<div class="col-md-4 text-center text-md-right">
							<div class="widget widget_mailchimp">
								<form class="signup form-inline" action="http://webdesign-finder.com/html/gogreen/" method="get">
									<div class="form-group inline-block">
										<input class="mailchimp_email form-control" name="email" type="email" placeholder="Email Address">
									</div>
									<button type="submit" class="theme_button">Sign Up!</button>
									<div class="response"></div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
{% endblock %}