{% extends 'eplastic/base.html' %}
{% block content %}
			<section class="page_breadcrumbs ds parallax section_padding_top_65 section_padding_bottom_65">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2 class="highlight">Coming Soon 1</h2>
							<ol class="breadcrumb darklinks">
								<li>
									<a href="index.html">
							Home
						</a>
								</li>
								<li>
									<a href="#">Features</a>
								</li>
								<li class="active">Coming Soon 1</li>
							</ol>
						</div>
					</div>
				</div>
			</section>


			<section id="comingsoon1" class="ls section_padding_top_100 section_padding_bottom_100">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2 class="section_header">
								Coming Soon!
							</h2>
							<p>Stay Tuned!</p>

							<div id="comingsoon-countdown"></div>

						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-md-push-4 col-sm-6 col-sm-push-3 text-center">

							<div class="widget widget_mailchimp">

								<p>Subscribe to our latest news to be updated, we promise not to spam!</p>

								<form class="signup" action="http://webdesign-finder.com/html/gogreen/" method="get">
									<div class="form-group">
										<input name="email" type="email" class="mailchimp_email form-control" placeholder="Email Address">
									</div>
									<button type="submit" class="theme_button color1">Send</button>
									<div class="response"></div>
								</form>

							</div>
						</div>
					</div>
				</div>
			</section>
{% endblock %}