{% extends 'eplastic/base.html' %}
{% block content %}
			<section class="page_breadcrumbs ds parallax section_padding_top_65 section_padding_bottom_65">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2 class="highlight">Right sidebar</h2>
							<ol class="breadcrumb darklinks">
								<li>
									<a href="index.html">
							Home
						</a>
								</li>
								<li>
									<a href="#">Events</a>
								</li>
								<li class="active">Right sidebar</li>
							</ol>
						</div>
					</div>
				</div>
			</section>


			<section class="ls section_padding_top_100 section_padding_bottom_100 columns_padding_25">
				<div class="container">
					<div class="row">

						<div class="col-sm-7 col-md-8 col-lg-8">


							<article class="post side-item content-padding with_background rounded">

								<div class="row">

									<div class="col-md-5">
										<div class="item-media">
											<img src="images/gallery_square/08.jpg" alt="">
											<div class="media-links">
												<a class="abs-link" title="" href="event-single-right.html"></a>
											</div>
										</div>
									</div>

									<div class="col-md-7">
										<div class="item-content">
											<h4>
												<a href="event-single-right.html">Magna aliquyam erased voluptua</a>
											</h4>

											<p class=" grey darklinks">
											<span class="rightpadding_20"><i class="fa fa-calendar highlight"></i> Feb 12, 2017</span>
											<i class="fa fa-map-marker highlight"></i> Conference Hall
										</p>
											<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam et dolore magna aliquyam erat.</p>

										</div>
									</div>

								</div>
							</article>

							<article class="post side-item content-padding with_background rounded">

								<div class="row">

									<div class="col-md-5">
										<div class="item-media">
											<img src="images/gallery_square/06.jpg" alt="">
											<div class="media-links">
												<a class="abs-link" title="" href="event-single-right.html"></a>
											</div>
										</div>
									</div>

									<div class="col-md-7">
										<div class="item-content">
											<h4>
												<a href="event-single-right.html">Sed diam et dolore magna</a>
											</h4>

											<p class=" grey darklinks">
											<span class="rightpadding_20"><i class="fa fa-calendar highlight"></i> Feb 12, 2017</span>
											<i class="fa fa-map-marker highlight"></i> Conference Hall
										</p>
											<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum harum maxime dolorem expedita soluta iusto.
										</p>

										</div>
									</div>

								</div>
							</article>


							<article class="post side-item content-padding with_background rounded">

								<div class="row">

									<div class="col-md-5">
										<div class="item-media">
											<img src="images/gallery_square/01.jpg" alt="">
											<div class="media-links">
												<a class="abs-link" title="" href="event-single-right.html"></a>
											</div>
										</div>
									</div>

									<div class="col-md-7">
										<div class="item-content">
											<h4>
												<a href="event-single-right.html">Consetetur sadipscing elitr</a>
											</h4>

											<p class=" grey darklinks">
											<span class="rightpadding_20"><i class="fa fa-calendar highlight"></i> Feb 12, 2017</span>
											<i class="fa fa-map-marker highlight"></i> Conference Hall
										</p>
											<p>
											Eveniet aspernatur! Exercitationem dolores iure qui rem vero ab quidem officia incidunt sequi, laborum, quo.
										</p>

										</div>
									</div>

								</div>
							</article>


							<article class="post side-item content-padding with_background rounded">

								<div class="row">

									<div class="col-md-5">
										<div class="item-media">
											<img src="images/gallery_square/02.jpg" alt="">
											<div class="media-links">
												<a class="abs-link" title="" href="event-single-right.html"></a>
											</div>
										</div>
									</div>

									<div class="col-md-7">
										<div class="item-content">
											<h4>
												<a href="event-single-right.html">Diam et dolore magna aliquyam</a>
											</h4>

											<p class=" grey darklinks">
											<span class="rightpadding_20"><i class="fa fa-calendar highlight"></i> Feb 12, 2017</span>
											<i class="fa fa-map-marker highlight"></i> Conference Hall
										</p>
											<p>
											Magni quos. Rerum ex, nulla, illo sed voluptates hic veniam nostrum excepturi odio!
										</p>

										</div>
									</div>

								</div>
							</article>

							<article class="post side-item content-padding with_background rounded">

								<div class="row">

									<div class="col-md-5">
										<div class="item-media">
											<img src="images/gallery_square/03.jpg" alt="">
											<div class="media-links">
												<a class="abs-link" title="" href="event-single-right.html"></a>
											</div>
										</div>
									</div>

									<div class="col-md-7">
										<div class="item-content">
											<h4>
												<a href="event-single-right.html">Sadipscing elitr sed diam</a>
											</h4>

											<p class=" grey darklinks">
											<span class="rightpadding_20"><i class="fa fa-calendar highlight"></i> Feb 12, 2017</span>
											<i class="fa fa-map-marker highlight"></i> Conference Hall
										</p>
											<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam et dolore magna aliquyam erat.</p>

										</div>
									</div>

								</div>
							</article>


							<article class="post side-item content-padding with_background rounded">

								<div class="row">

									<div class="col-md-5">
										<div class="item-media">
											<img src="images/gallery_square/04.jpg" alt="">
											<div class="media-links">
												<a class="abs-link" title="" href="event-single-right.html"></a>
											</div>
										</div>
									</div>

									<div class="col-md-7">
										<div class="item-content">
											<h4>
												<a href="event-single-right.html">Ipsum dolor sit amet consetetur</a>
											</h4>

											<p class=" grey darklinks">
											<span class="rightpadding_20"><i class="fa fa-calendar highlight"></i> Feb 12, 2017</span>
											<i class="fa fa-map-marker highlight"></i> Conference Hall
										</p>
											<p>
											Dolorem Accusantium perferendis omnis nam quasi ea magni, molestias et velit sed tempore.
										</p>

										</div>
									</div>

								</div>
							</article>


							<article class="post side-item content-padding with_background rounded">

								<div class="row">

									<div class="col-md-5">
										<div class="item-media">
											<img src="images/gallery_square/05.jpg" alt="">
											<div class="media-links">
												<a class="abs-link" title="" href="event-single-right.html"></a>
											</div>
										</div>
									</div>

									<div class="col-md-7">
										<div class="item-content">
											<h4>
												<a href="event-single-right.html">Magna aliquyam erased voluptua</a>
											</h4>

											<p class=" grey darklinks">
											<span class="rightpadding_20"><i class="fa fa-calendar highlight"></i> Feb 12, 2017</span>
											<i class="fa fa-map-marker highlight"></i> Conference Hall
										</p>
											<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam et dolore magna aliquyam erat.</p>

										</div>
									</div>

								</div>
							</article>


							<article class="post side-item content-padding with_background rounded">

								<div class="row">

									<div class="col-md-5">
										<div class="item-media">
											<img src="images/gallery_square/06.jpg" alt="">
											<div class="media-links">
												<a class="abs-link" title="" href="event-single-right.html"></a>
											</div>
										</div>
									</div>

									<div class="col-md-7">
										<div class="item-content">
											<h4>
												<a href="event-single-right.html">Elitr sed diam et dolore magna</a>
											</h4>

											<p class=" grey darklinks">
											<span class="rightpadding_20"><i class="fa fa-calendar highlight"></i> Feb 12, 2017</span>
											<i class="fa fa-map-marker highlight"></i> Conference Hall
										</p>
											<p>Dolor eaque velit sint fugiat laudantium, nisi quidem nam blanditiis eveniet, odio sunt veritatis!</p>

										</div>
									</div>

								</div>
							</article>


							<article class="post side-item content-padding with_background rounded">

								<div class="row">

									<div class="col-md-5">
										<div class="item-media">
											<img src="images/gallery_square/07.jpg" alt="">
											<div class="media-links">
												<a class="abs-link" title="" href="event-single-right.html"></a>
											</div>
										</div>
									</div>

									<div class="col-md-7">
										<div class="item-content">
											<h4>
												<a href="event-single-right.html">Ullam id nam nihil enim et</a>
											</h4>

											<p class=" grey darklinks">
											<span class="rightpadding_20"><i class="fa fa-calendar highlight"></i> Feb 12, 2017</span>
											<i class="fa fa-map-marker highlight"></i> Conference Hall
										</p>
											<p>
											Temporibus vitae in, iure, pariatur, sint voluptatem adipisci nemo quam praesentium harum saepe.
										</p>

										</div>
									</div>

								</div>
							</article>

							<article class="post side-item content-padding with_background rounded">

								<div class="row">

									<div class="col-md-5">
										<div class="item-media">
											<img src="images/gallery_square/09.jpg" alt="">
											<div class="media-links">
												<a class="abs-link" title="" href="event-single-right.html"></a>
											</div>
										</div>
									</div>

									<div class="col-md-7">
										<div class="item-content">
											<h4>
												<a href="event-single-right.html">Magna aliquyam erased voluptua</a>
											</h4>

											<p class=" grey darklinks">
											<span class="rightpadding_20"><i class="fa fa-calendar highlight"></i> Feb 12, 2017</span>
											<i class="fa fa-map-marker highlight"></i> Conference Hall
										</p>
											<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam et dolore magna aliquyam erat.</p>

										</div>
									</div>

								</div>
							</article>


							<div class="row topmargin_60">
								<div class="col-sm-12 text-center">
									<ul class="pagination highlightlinks">
										<li class="disabled">
											<a href="#">
												<span class="sr-only">Prev</span>
												<i class="fa fa-angle-left" aria-hidden="true"></i>
											</a>
										</li>
										<li class="active"><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#">4</a></li>
										<li>
											<a href="#">
												<span class="sr-only">Next</span>
												<i class="fa fa-angle-right" aria-hidden="true"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>

						</div>
						<!--eof .col-sm-8 (main content)-->

						<!-- sidebar -->
						<aside class="col-sm-5 col-md-4 col-lg-4">

							<div class="widget widget_apsc_widget">
								<h3 class="widget-title poppins">Get In touch</h3>
								<div class="apsc-icons-wrapper clearfix apsc-theme-4">
									<div class="apsc-each-profile">
										<a class="apsc-facebook-icon clearfix" href="#">
											<div class="apsc-inner-block">
												<span class="social-icon">
													<i class="fa fa-facebook apsc-facebook"></i>
													<span class="media-name">Facebook</span>
												</span>
												<span class="apsc-count">9.8K</span>
												<span class="apsc-media-type">Fans</span>
											</div>
										</a>
									</div>
									<div class="apsc-each-profile">
										<a class="apsc-twitter-icon clearfix" href="#">
											<div class="apsc-inner-block">
												<span class="social-icon">
													<i class="fa fa-twitter apsc-twitter"></i>
													<span class="media-name">Twitter</span>
												</span>
												<span class="apsc-count">4.9K</span>
												<span class="apsc-media-type">Followers</span>
											</div>
										</a>
									</div>
									<div class="apsc-each-profile">
										<a class="apsc-google-plus-icon clearfix" href="#">
											<div class="apsc-inner-block">
												<span class="social-icon">
													<i class="apsc-googlePlus fa fa-google-plus"></i>
													<span class="media-name">google+</span>
												</span>
												<span class="apsc-count">10.1M</span>
												<span class="apsc-media-type">Followers</span>
											</div>
										</a>
									</div>
									<div class="apsc-each-profile">
										<a class="apsc-instagram-icon clearfix" href="#">
											<div class="apsc-inner-block">
												<span class="social-icon">
													<i class="apsc-instagram fa fa-instagram"></i>
													<span class="media-name">Instagram</span>
												</span>
												<span class="apsc-count">4</span>
												<span class="apsc-media-type">Followers</span>
											</div>
										</a>
									</div>
									<div class="apsc-each-profile">
										<a class="apsc-youtube-icon clearfix" href="#">
											<div class="apsc-inner-block">
												<span class="social-icon">
													<i class="apsc-youtube fa fa-youtube"></i>
													<span class="media-name">Youtube</span>
												</span>
												<span class="apsc-count">2.2K</span>
												<span class="apsc-media-type">Subscriber</span>
											</div>
										</a>
									</div>
									<div class="apsc-each-profile">
										<a class="apsc-soundcloud-icon clearfix" href="#">
											<div class="apsc-inner-block">
												<span class="social-icon">
													<i class="apsc-soundcloud fa fa-soundcloud"></i>
													<span class="media-name">Soundcloud</span>
												</span>
												<span class="apsc-count">8K</span>
												<span class="apsc-media-type">Followers</span>
											</div>
										</a>
									</div>
									<div class="apsc-each-profile">
										<a class="apsc-dribble-icon clearfix" href="#">
											<div class="apsc-inner-block">
												<span class="social-icon">
													<i class="apsc-dribbble fa fa-dribbble"></i>
													<span class="media-name">dribble</span>
												</span>
												<span class="apsc-count">0</span>
												<span class="apsc-media-type">Followers</span>
											</div>
										</a>
									</div>
									<div class="apsc-each-profile">
										<a class="apsc-edit-icon clearfix" href="#">
											<div class="apsc-inner-block">
												<span class="social-icon">
													<i class="apsc-posts fa fa-edit"></i>
													<span class="media-name">Post</span>
												</span>
												<span class="apsc-count">1</span>
												<span class="apsc-media-type">Post</span>
											</div>
										</a>
									</div>
									<div class="apsc-each-profile">
										<a class="apsc-comment-icon clearfix" href="#">
											<div class="apsc-inner-block">
												<span class="social-icon">
													<i class="apsc-comments fa fa-comments"></i>
													<span class="media-name">Comment</span>
												</span>
												<span class="apsc-count">0</span>
												<span class="apsc-media-type">Comments</span>
											</div>
										</a>
									</div>

								</div>

							</div>

							<div class="widget widget_mailchimp">

								<h3 class="widget-title poppins">Newsletter</h3>

								<form class="signup" action="http://webdesign-finder.com/html/gogreen/" method="get">
									<div class="form-group">
										<input name="email" type="email" class="mailchimp_email form-control" placeholder="Email Address">
									</div>
									<button type="submit" class="theme_button">Send</button>
									<div class="response"></div>
									<p>
					Subscribe to our Newsletter right now to be updated. We promice not to spam!
				</p>

								</form>

							</div>

							<div class="widget widget_flickr">

								<h3 class="widget-title poppins">Flickr Widget</h3>
								<ul id="flickr"></ul>
							</div>

							<div class="widget widget_recent_posts">

								<h3 class="widget-title poppins">Recent Posts</h3>
								<ul class="media-list">
									<li class="media">
										<div class="media-left">
											<img src="images/recent_post1.jpg" alt="" />
										</div>
										<div class="media-body darklinks">
											<h4 class="poppins">
												<a href="blog-single-left.html">
									Pork chop filet mignon prosciut ball tip pancetta pork
								</a>
											</h4>
											<span class="entry-date highlight">
												<time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
													March 12, 2017
												</time>
											</span>
										</div>
									</li>

									<li class="media">
										<div class="media-left">
											<img src="images/recent_post2.jpg" alt="" />
										</div>
										<div class="media-body darklinks">
											<h4 class="poppins">
												<a href="blog-single-left.html">
									Biltong venison beef swine. Corned beef pork ham pork
								</a>
											</h4>
											<span class="entry-date highlight">
												<time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
													March 13, 2017
												</time>
											</span>
										</div>
									</li>

									<li class="media">
										<div class="media-left">
											<img src="images/recent_post3.jpg" alt="" />
										</div>
										<div class="media-body darklinks">
											<h4 class="poppins">
												<a href="blog-single-left.html">
									Prosciutto hamburger filet mignon
								</a>
											</h4>
											<span class="entry-date highlight">
												<time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
													March 14, 2017
												</time>
											</span>
										</div>
									</li>


								</ul>
							</div>

							<div class="widget widget_search">
								<h3 class="widget-title poppins">Search on Website</h3>
								<form method="get" class="searchform" action="http://webdesign-finder.com/html/gogreen/">
									<!-- <div class="form-group-wrap"> -->
									<div class="form-group">
										<label class="sr-only" for="widget-search">Search for:</label>
										<input id="widget-search" type="text" value="" name="search" class="form-control" placeholder="Search Keyword">
									</div>
									<button type="submit" class="theme_button color1">Search</button>
									<!-- </div> -->
								</form>
							</div>


						</aside>
						<!-- eof aside sidebar -->

					</div>
				</div>
			</section>
{% endblock %}