{% extends 'eplastic/base.html' %}
{% block content %}
			<section class="page_breadcrumbs ds parallax section_padding_top_65 section_padding_bottom_65">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2 class="highlight">Gallery Carousel 1 column</h2>
							<ol class="breadcrumb darklinks">
								<li>
									<a href="index.html">
							Home
						</a>
								</li>
								<li>
									<a href="#">Gallery</a>
								</li>
								<li class="active">Gallery Carousel 1 column</li>
							</ol>
						</div>
					</div>
				</div>
			</section>
			<section class="ls section_padding_top_100 section_padding_bottom_75">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-push-1">
							<div id="gallery-owl-carousel" class="owl-carousel dots-center" data-dots="true" data-items="1" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-responsive-xs="1">

								<article class="vertical-item content-padding post format-standard with_background rounded">

									<div class="item-media">

										<img src="images/gallery/01.jpg" alt="">

										<div class="media-links">
											<div class="links-wrap">
												<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/01.jpg"></a>
											</div>
										</div>
									</div>

									<div class="item-content">
										<header class="entry-header">
											<h4 class="entry-title">
												<a href="gallery-single.html" rel="bookmark">
									Morbi euismod
								</a>
											</h4>
										</header>
										<p>
							Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget.
						</p>
									</div>

								</article>
								<article class="vertical-item content-padding post format-standard with_background rounded">

									<div class="item-media">

										<img src="images/gallery/02.jpg" alt="">

										<div class="media-links">
											<div class="links-wrap">
												<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/02.jpg"></a>
											</div>
										</div>
									</div>

									<div class="item-content">
										<header class="entry-header">
											<h4 class="entry-title">
												<a href="gallery-single.html" rel="bookmark">
									Vestibulum libero
								</a>
											</h4>
										</header>
										<p>
							Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget.
						</p>
									</div>

								</article>
								<article class="vertical-item content-padding post format-standard with_background rounded">

									<div class="item-media">

										<img src="images/gallery/03.jpg" alt="">

										<div class="media-links">
											<div class="links-wrap">
												<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/03.jpg"></a>
											</div>
										</div>
									</div>

									<div class="item-content">
										<header class="entry-header">
											<h4 class="entry-title">
												<a href="gallery-single.html" rel="bookmark">
									Pellentesque commodo
								</a>
											</h4>
										</header>
										<p>
							Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget.
						</p>
									</div>

								</article>
								<article class="vertical-item content-padding post format-standard with_background rounded">

									<div class="item-media">

										<img src="images/gallery/04.jpg" alt="">

										<div class="media-links">
											<div class="links-wrap">
												<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/04.jpg"></a>
											</div>
										</div>
									</div>

									<div class="item-content">
										<header class="entry-header">
											<h4 class="entry-title">
												<a href="gallery-single.html" rel="bookmark">
									Lorem ipsum
								</a>
											</h4>
										</header>
										<p>
							Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget.
						</p>
									</div>

								</article>
								<article class="vertical-item content-padding post format-standard with_background rounded">

									<div class="item-media">

										<img src="images/gallery/05.jpg" alt="">

										<div class="media-links">
											<div class="links-wrap">
												<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/05.jpg"></a>
											</div>
										</div>
									</div>

									<div class="item-content">
										<header class="entry-header">
											<h4 class="entry-title">
												<a href="gallery-single.html" rel="bookmark">
									Sarmiento museum
								</a>
											</h4>
										</header>
										<p>
							Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget.
						</p>
									</div>

								</article>
								<article class="vertical-item content-padding post format-standard with_background rounded">

									<div class="item-media">

										<img src="images/gallery/06.jpg" alt="">

										<div class="media-links">
											<div class="links-wrap">
												<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/06.jpg"></a>
											</div>
										</div>
									</div>

									<div class="item-content">
										<header class="entry-header">
											<h4 class="entry-title">
												<a href="gallery-single.html" rel="bookmark">
									Proin imperdiet
								</a>
											</h4>
										</header>
										<p>
							Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget.
						</p>
									</div>

								</article>
								<article class="vertical-item content-padding post format-standard with_background rounded">

									<div class="item-media">

										<img src="images/gallery/07.jpg" alt="">

										<div class="media-links">
											<div class="links-wrap">
												<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/07.jpg"></a>
											</div>
										</div>
									</div>

									<div class="item-content">
										<header class="entry-header">
											<h4 class="entry-title">
												<a href="gallery-single.html" rel="bookmark">
									Aenean varius
								</a>
											</h4>
										</header>
										<p>
							Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget.
						</p>
									</div>

								</article>
								<article class="vertical-item content-padding post format-standard with_background rounded">

									<div class="item-media">

										<img src="images/gallery/08.jpg" alt="">

										<div class="media-links">
											<div class="links-wrap">
												<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/08.jpg"></a>
											</div>
										</div>
									</div>

									<div class="item-content">
										<header class="entry-header">
											<h4 class="entry-title">
												<a href="gallery-single.html" rel="bookmark">
									Praesent eleifend
								</a>
											</h4>
										</header>
										<p>
							Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget.
						</p>
									</div>

								</article>
								<article class="vertical-item content-padding post format-standard with_background rounded">

									<div class="item-media">

										<img src="images/gallery/09.jpg" alt="">

										<div class="media-links">
											<div class="links-wrap">
												<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/09.jpg"></a>
											</div>
										</div>
									</div>

									<div class="item-content">
										<header class="entry-header">
											<h4 class="entry-title">
												<a href="gallery-single.html" rel="bookmark">
									Phasellus volutpat
								</a>
											</h4>
										</header>
										<p>
							Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget.
						</p>
									</div>

								</article>
								<article class="vertical-item content-padding post format-standard with_background rounded">

									<div class="item-media">

										<img src="images/gallery/10.jpg" alt="">

										<div class="media-links">
											<div class="links-wrap">
												<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/10.jpg"></a>
											</div>
										</div>
									</div>

									<div class="item-content">
										<header class="entry-header">
											<h4 class="entry-title">
												<a href="gallery-single.html" rel="bookmark">
									Fusce a vestibulum 
								</a>
											</h4>
										</header>
										<p>
							Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget.
						</p>
									</div>

								</article>
								<article class="vertical-item content-padding post format-standard with_background rounded">

									<div class="item-media">

										<img src="images/gallery/11.jpg" alt="">

										<div class="media-links">
											<div class="links-wrap">
												<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/11.jpg"></a>
											</div>
										</div>
									</div>

									<div class="item-content">
										<header class="entry-header">
											<h4 class="entry-title">
												<a href="gallery-single.html" rel="bookmark">
									Vivamus suscipit
								</a>
											</h4>
										</header>
										<p>
							Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget.
						</p>
									</div>

								</article>
								<article class="vertical-item content-padding post format-standard with_background rounded">

									<div class="item-media">

										<img src="images/gallery/12.jpg" alt="">

										<div class="media-links">
											<div class="links-wrap">
												<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/12.jpg"></a>
											</div>
										</div>
									</div>

									<div class="item-content">
										<header class="entry-header">
											<h4 class="entry-title">
												<a href="gallery-single.html" rel="bookmark">
									Proin congue
								</a>
											</h4>
										</header>
										<p>
							Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget.
						</p>
									</div>

								</article>


							</div>
						</div>


					</div>
				</div>
			</section>
{% endblock %}