{% extends 'eplastic/base.html' %}
{% block content %}
			<section class="page_breadcrumbs ds parallax section_padding_top_65 section_padding_bottom_65">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2 class="highlight">Single Item</h2>
							<ol class="breadcrumb darklinks">
								<li>
									<a href="index.html">
							Home
						</a>
								</li>
								<li>
									<a href="#">Gallery</a>
								</li>
								<li class="active">Single Item</li>
							</ol>
						</div>
					</div>
				</div>
			</section>


			<section class="ls section_padding_top_75 section_padding_bottom_100">
				<div class="container">
					<div class="row">

						<div class="col-md-10 col-md-push-1 text-center">

							<h1 class="gallery-single-title">
								Image title
							</h1>

							<div class="vertical-item gallery-extended-item content-padding with_background rounded">
								<div class="item-media">
									<img src="images/gallery/03.jpg" alt="">
								</div>
								<div class="item-content text-center">

									<p class="entry-excerpt">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste placeat, deleniti. Veritatis, praesentium, et! Voluptate iusto aliquid quis, optio dolore quas non eveniet aut.
						</p>

									<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque debitis fuga eum, velit deleniti perferendis fugit necessitatibus inventore expedita accusantium animi provident aspernatur, accusamus in nobis illo? Exercitationem, deserunt esse.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet minima laboriosam dolores sunt pariatur quia, non maxime excepturi expedita, animi rem earum temporibus quidem molestias. Aut blanditiis, nulla esse accusamus.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet minima laboriosam dolores sunt pariatur quia, non maxime excepturi expedita, animi rem earum temporibus quidem molestias. Aut blanditiis, nulla esse accusamus.
						</p>

									<div class="share-gallery-single">
										<a href="#" class="social-icon color-bg-icon soc-facebook"></a><a href="#" class="social-icon color-bg-icon soc-twitter"></a><a href="#" class="social-icon color-bg-icon soc-google"></a><a href="#" class="social-icon color-bg-icon soc-linkedin"></a>
										<a
										    href="#" class="social-icon color-bg-icon soc-pinterest"></a>
									</div>

								</div>
							</div>


						</div>

					</div>
				</div>
			</section>

			<section class="ls section_padding_100">
				<div class="owl-carousel related-photos-carousel" data-margin="50" data-nav="true" data-loop="true" data-items="3">


					<div>
						<article class="vertical-item content-padding post format-standard with_background">

							<div class="item-media">

								<img src="images/gallery/01.jpg" alt="">

								<div class="media-links">
									<div class="links-wrap">
										<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/01.jpg"></a>
									</div>
								</div>
							</div>

							<div class="item-content">
								<header class="entry-header">
									<h4 class="entry-title margin_0">
										<a href="gallery-single.html" rel="bookmark">
									Morbi euismod
								</a>
									</h4>
								</header>
							</div>

						</article>
					</div>
					<div>
						<article class="vertical-item content-padding post format-standard with_background">

							<div class="item-media">

								<img src="images/gallery/02.jpg" alt="">

								<div class="media-links">
									<div class="links-wrap">
										<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/02.jpg"></a>
									</div>
								</div>
							</div>

							<div class="item-content plan2">
								<header class="entry-header">
									<h4 class="entry-title margin_0">
										<a href="gallery-single.html" rel="bookmark">
									Vestibulum libero
								</a>
									</h4>
								</header>
							</div>

						</article>
					</div>
					<div>
						<article class="vertical-item content-padding post format-standard with_background">

							<div class="item-media">
								<img src="images/gallery/03.jpg" alt="">

								<div class="media-links">
									<div class="links-wrap">
										<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/03.jpg"></a>
									</div>
								</div>
							</div>

							<div class="item-content plan3">
								<header class="entry-header">
									<h4 class="entry-title margin_0">
										<a href="gallery-single.html" rel="bookmark">
									Pellentesque commodo
								</a>
									</h4>
								</header>
							</div>

						</article>
					</div>
					<div>
						<article class="vertical-item content-padding post format-standard with_background">

							<div class="item-media">

								<img src="images/gallery/04.jpg" alt="">

								<div class="media-links">
									<div class="links-wrap">
										<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/04.jpg"></a>
									</div>
								</div>
							</div>

							<div class="item-content plan4">
								<header class="entry-header">
									<h4 class="entry-title margin_0">
										<a href="gallery-single.html" rel="bookmark">
									Lorem ipsum
								</a>
									</h4>
								</header>
							</div>

						</article>
					</div>
					<div>
						<article class="vertical-item content-padding post format-standard with_background">

							<div class="item-media">

								<img src="images/gallery/05.jpg" alt="">

								<div class="media-links">
									<div class="links-wrap">
										<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/05.jpg"></a>
									</div>
								</div>
							</div>

							<div class="item-content">
								<header class="entry-header">
									<h4 class="entry-title margin_0">
										<a href="gallery-single.html" rel="bookmark">
									Sarmiento museum
								</a>
									</h4>
								</header>
							</div>

						</article>
					</div>
					<div>
						<article class="vertical-item content-padding post format-standard with_background">

							<div class="item-media">

								<img src="images/gallery/06.jpg" alt="">

								<div class="media-links">
									<div class="links-wrap">
										<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/06.jpg"></a>
									</div>
								</div>
							</div>

							<div class="item-content plan2">
								<header class="entry-header">
									<h4 class="entry-title margin_0">
										<a href="gallery-single.html" rel="bookmark">
									Proin imperdiet
								</a>
									</h4>
								</header>
							</div>

						</article>
					</div>
					<div>
						<article class="vertical-item content-padding post format-standard with_background">

							<div class="item-media">

								<img src="images/gallery/07.jpg" alt="">

								<div class="media-links">
									<div class="links-wrap">
										<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/07.jpg"></a>
									</div>
								</div>
							</div>

							<div class="item-content plan3">
								<header class="entry-header">
									<h4 class="entry-title margin_0">
										<a href="gallery-single.html" rel="bookmark">
									Aenean varius
								</a>
									</h4>
								</header>
							</div>

						</article>
					</div>
					<div>
						<article class="vertical-item content-padding post format-standard with_background">

							<div class="item-media">

								<img src="images/gallery/08.jpg" alt="">

								<div class="media-links">
									<div class="links-wrap">
										<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/08.jpg"></a>
									</div>
								</div>
							</div>

							<div class="item-content plan4">
								<header class="entry-header">
									<h4 class="entry-title margin_0">
										<a href="gallery-single.html" rel="bookmark">
									Praesent eleifend
								</a>
									</h4>
								</header>
							</div>

						</article>
					</div>
					<div>
						<article class="vertical-item content-padding post format-standard with_background">

							<div class="item-media">

								<img src="images/gallery/09.jpg" alt="">

								<div class="media-links">
									<div class="links-wrap">
										<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/09.jpg"></a>
									</div>
								</div>
							</div>

							<div class="item-content plan4">
								<header class="entry-header">
									<h4 class="entry-title margin_0">
										<a href="gallery-single.html" rel="bookmark">
									Phasellus volutpat
								</a>
									</h4>
								</header>
							</div>

						</article>
					</div>
					<div>
						<article class="vertical-item content-padding post format-standard with_background">

							<div class="item-media">

								<img src="images/gallery/10.jpg" alt="">

								<div class="media-links">
									<div class="links-wrap">
										<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/10.jpg"></a>
									</div>
								</div>
							</div>

							<div class="item-content plan4">
								<header class="entry-header">
									<h4 class="entry-title margin_0">
										<a href="gallery-single.html" rel="bookmark">
									Fusce a vestibulum 
								</a>
									</h4>
								</header>
							</div>

						</article>
					</div>
					<div>
						<article class="vertical-item content-padding post format-standard with_background">

							<div class="item-media">

								<img src="images/gallery/11.jpg" alt="">

								<div class="media-links">
									<div class="links-wrap">
										<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/11.jpg"></a>
									</div>
								</div>
							</div>

							<div class="item-content plan4">
								<header class="entry-header">
									<h4 class="entry-title margin_0">
										<a href="gallery-single.html" rel="bookmark">
									Vivamus suscipit
								</a>
									</h4>
								</header>
							</div>

						</article>
					</div>
					<div>
						<article class="vertical-item content-padding post format-standard with_background">

							<div class="item-media">

								<img src="images/gallery/12.jpg" alt="">

								<div class="media-links">
									<div class="links-wrap">
										<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/12.jpg"></a>
									</div>
								</div>
							</div>

							<div class="item-content plan4">
								<header class="entry-header">
									<h4 class="entry-title margin_0">
										<a href="gallery-single.html" rel="bookmark">
									Proin congue
								</a>
									</h4>
								</header>
							</div>

						</article>
					</div>


				</div>


			</section>
{% endblock %}