{% extends 'eplastic/base.html' %}
{% block content %}
			<section class="page_breadcrumbs ds parallax section_padding_top_65 section_padding_bottom_65">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2 class="highlight">Pricing</h2>
							<ol class="breadcrumb darklinks">
								<li>
									<a href="index.html">
							Home
						</a>
								</li>
								<li>
									<a href="#">Shortcodes</a>
								</li>
								<li class="active">Pricing</li>
							</ol>
						</div>
					</div>
				</div>
			</section>

			<section class="cs darken_gradient section_padding_75 columns_padding_0 columns_margin_0">
				<div class="container">
					<div class="row flex-row price-row">
						<div class="col-md-3 col-sm-6">
							<div class="price-table price-hover">
								<div class="price-media">
									<div class="plan-name">
										Personal
										<br> Help
									</div>
									<div class="plan-price with_icon">
										$99
										<p class="small-text">per hour</p>
									</div>
								</div>
								<div class="price-content ls with_shadow">
									<ul class="features-list">
										<li>
											Depression Therapy
										</li>
										<li>
											Stress Management
										</li>
										<li>
											Anxiety Treatment
										</li>
										<li>
											Individual Coaching
										</li>
										<li>
											Post-Divorce Recovery
										</li>
									</ul>
									<div class="call-to-action">
										<a href="#" class="theme_button color1">Book now</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="price-table price-hover">
								<div class="price-media">
									<div class="plan-name">
										Couples
										<br> Therapy
									</div>
									<div class="plan-price with_icon">
										$149
										<p class="small-text">per hour</p>
									</div>
								</div>
								<div class="price-content ls with_shadow">
									<ul class="features-list">
										<li>
											Depression Therapy
										</li>
										<li>
											Stress Management
										</li>
										<li>
											Anxiety Treatment
										</li>
										<li>
											Individual Coaching
										</li>
										<li>
											Post-Divorce Recovery
										</li>
									</ul>
									<div class="call-to-action">
										<a href="#" class="theme_button color1">Book now</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="price-table price-hover">
								<div class="price-media">
									<div class="plan-name">
										Group
										<br> Therapy
									</div>
									<div class="plan-price with_icon">
										$49
										<p class="small-text">per hour</p>
									</div>
								</div>
								<div class="price-content ls with_shadow">
									<ul class="features-list">
										<li>
											Depression Therapy
										</li>
										<li>
											Stress Management
										</li>
										<li>
											Anxiety Treatment
										</li>
										<li>
											Individual Coaching
										</li>
										<li>
											Post-Divorce Recovery
										</li>
									</ul>
									<div class="call-to-action">
										<a href="#" class="theme_button color1">Book now</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="price-table price-hover">
								<div class="price-media">
									<div class="plan-name">
										Personal
										<br> Help
									</div>
									<div class="plan-price with_icon">
										$99
										<p class="small-text">per hour</p>
									</div>
								</div>
								<div class="price-content ls with_shadow">
									<ul class="features-list">
										<li>
											Depression Therapy
										</li>
										<li>
											Stress Management
										</li>
										<li>
											Anxiety Treatment
										</li>
										<li>
											Individual Coaching
										</li>
										<li>
											Post-Divorce Recovery
										</li>
									</ul>
									<div class="call-to-action">
										<a href="#" class="theme_button color1">Book now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="ls section_padding_100">
				<div class="container">

					<div class="row">
						<div class="col-sm-12">
							<h2>Color Pricing Row:</h2>
						</div>
					</div>

					<div class="row columns_margin_bottom_40">
						<div class="col-md-4 col-sm-6 to_animate" data-animation="fadeInUp">
							<ul class="price-table with_background grey style1">
								<li class="plan-name color2">
									<h3>Group therapy</h3>
								</li>
								<li class="plan-price grey">
									49$
									<p class="small-text">per hour</p>
								</li>
								<li class="features-list">
									<ul>
										<li>2 Programs</li>
										<li>Clients Support</li>
										<li>Wealth Management</li>
										<li>Lending Balances</li>
									</ul>
								</li>
								<li class="call-to-action bottom-button">
									<a href="#" class="theme_button color2">Purchase</a>
								</li>
							</ul>
						</div>

						<div class="col-md-4 col-md-push-4 col-sm-6 to_animate" data-animation="fadeInUp">
							<ul class="price-table with_background grey style1">
								<li class="plan-name color2">
									<h3>Couples therapy</h3>
								</li>
								<li class="plan-price grey">
									149$
									<p class="small-text">per hour</p>
								</li>
								<li class="features-list">
									<ul>
										<li>2 Programs</li>
										<li>Clients Support</li>
										<li>Wealth Management</li>
										<li>Lending Balances</li>
									</ul>
								</li>
								<li class="call-to-action bottom-button">
									<a href="#" class="theme_button color2">Purchase</a>
								</li>
							</ul>
						</div>

						<div class="col-md-4 col-md-pull-4 col-sm-6 col-sm-offset-3 col-md-offset-0 to_animate" data-animation="fadeInUp">
							<ul class="price-table with_background grey style2">
								<li class="plan-name">
									<h3>Personal Help</h3>
								</li>
								<li class="plan-price grey">
									99$
									<p class="small-text">per hour</p>
								</li>
								<li class="features-list">
									<ul>
										<li>2 Programs</li>
										<li>Clients Support</li>
										<li>Wealth Management</li>
										<li>Lending Balances</li>
										<li>Investment Banking</li>
									</ul>
								</li>
								<li class="call-to-action bottom-button">
									<a href="#" class="theme_button color1">Purchase</a>
								</li>
							</ul>
						</div>

					</div>


					<div class="row">
						<div class="col-sm-12">
							<h2>Pricing Row:</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<ul class="price-table grey style1">
								<li class="plan-name">
									<h3>Basic Plan</h3>
								</li>
								<li class="plan-price grey">
									49$
									<p class="small-text">per hour</p>
								</li>
								<li class="features-list">
									<ul>
										<li class="enabled">Feature 01</li>
										<li class="enabled">Feature 02</li>
										<li class="enabled">Feature 03</li>
										<li class="disabled">Feature 04</li>
										<li class="disabled">Feature 05</li>
									</ul>
								</li>
								<li class="call-to-action darklinks small-text"><a href="#">Purchase</a></li>
							</ul>
						</div>

						<div class="col-md-4 col-sm-6 col-md-push-4">
							<ul class="price-table grey style1">
								<li class="plan-name">
									<h3>Premium Plan</h3>
								</li>
								<li class="plan-price grey">
									149$
									<p class="small-text">per hour</p>
								</li>
								<li class="features-list">
									<ul>
										<li class="enabled">Feature 01</li>
										<li class="enabled">Feature 02</li>
										<li class="enabled">Feature 03</li>
										<li class="enabled">Feature 04</li>
										<li class="enabled">Feature 05</li>
									</ul>
								</li>
								<li class="call-to-action darklinks small-text"><a href="#">Purchase</a></li>
							</ul>
						</div>

						<div class="col-md-4 col-sm-6 col-md-pull-4 col-sm-offset-3 col-md-offset-0">
							<ul class="price-table grey style2">
								<li class="plan-name">
									<h3>Advanced Plan</h3>
								</li>
								<li class="plan-price grey">
									99$
									<p class="small-text">per hour</p>
								</li>
								<li class="features-list">
									<ul>
										<li class="enabled">Feature 01</li>
										<li class="enabled">Feature 02</li>
										<li class="enabled">Feature 03</li>
										<li class="enabled">Feature 04</li>
										<li class="enabled">Feature 05</li>
										<li class="enabled">Feature 06</li>
									</ul>
								</li>
								<li class="call-to-action darklinks small-text"><a href="#">Purchase</a></li>
							</ul>
						</div>
					</div>


					<div class="row">
						<div class="col-sm-12">
							<hr class="divider_40">
							<h2>Color Pricing Plans:</h2>

						</div>
					</div>

					<div class="row">
						<div class="col-md-4 col-sm-6">

							<div class="price-table after_cover color_bg_1 bg_teaser">
								<img src="images/teaser01.jpg" alt="">
								<div class="plan-name">
									<h3>Basic Plan</h3>
								</div>
								<div class="plan-price">
									49$
									<p class="small-text">per hour</p>
								</div>
								<div class="features-list">
									<ul>
										<li>Feature 01</li>
										<li>Feature 02</li>
										<li>Feature 03</li>
										<li>Feature 04</li>
										<li>Feature 05</li>
									</ul>
								</div>
								<div class="call-to-action">
									<a href="#" class="theme_button">Order Now</a>
								</div>
							</div>

						</div>
						<div class="col-md-4 col-sm-6 col-md-push-4">

							<div class="price-table after_cover color_bg_3 bg_teaser">
								<img src="images/teaser03.jpg" alt="">
								<div class="plan-name">
									<h3>VIP Plan</h3>
								</div>
								<div class="plan-price">
									99$
									<p class="small-text">per hour</p>
								</div>
								<div class="features-list">
									<ul>
										<li>Feature 01</li>
										<li>Feature 02</li>
										<li>Feature 03</li>
										<li>Feature 04</li>
										<li>Feature 05</li>
									</ul>
								</div>
								<div class="call-to-action">
									<a href="#" class="theme_button">Order Now</a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-md-pull-4 col-sm-offset-3 col-md-offset-0">

							<div class="price-table after_cover color_bg_2 bg_teaser">
								<img src="images/teaser02.jpg" alt="">
								<div class="plan-name">
									<h3>Advanced Plan</h3>
								</div>
								<div class="plan-price">
									149$
									<p class="small-text">per hour</p>
								</div>
								<div class="features-list">
									<ul>
										<li>Feature 01</li>
										<li>Feature 02</li>
										<li>Feature 03</li>
										<li>Feature 04</li>
										<li>Feature 05</li>
									</ul>
								</div>
								<div class="call-to-action">
									<a href="#" class="theme_button">Order Now</a>
								</div>
							</div>

						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<hr class="divider_40">
							<h2>Pricing Plans - Style 1:</h2>

						</div>
					</div>

					<div class="row">
						<div class="col-md-4 col-sm-6">
							<ul class="price-table style1">
								<li class="plan-name">
									<h3>Basic Plan</h3>
								</li>
								<li class="plan-price grey">
									49$
									<p class="small-text">per hour</p>
								</li>
								<li class="features-list">
									<ul>
										<li class="enabled">Feature 01</li>
										<li class="enabled">Feature 02</li>
										<li class="enabled">Feature 03</li>
										<li class="disabled">Feature 04</li>
										<li class="disabled">Feature 05</li>
									</ul>
								</li>
								<li class="call-to-action"><a href="#" class="theme_button inverse">Sign Up Now</a></li>
							</ul>
						</div>

						<div class="col-md-4 col-sm-6">
							<ul class="price-table style1">
								<li class="plan-name">
									<h3>Advanced Plan</h3>
								</li>
								<li class="plan-price grey">
									99$
									<p class="small-text">per hour</p>
								</li>
								<li class="features-list">
									<ul>
										<li class="enabled">Feature 01</li>
										<li class="enabled">Feature 02</li>
										<li class="enabled">Feature 03</li>
										<li class="enabled">Feature 04</li>
										<li class="disabled">Feature 05</li>
									</ul>
								</li>
								<li class="call-to-action"><a href="#" class="theme_button color1">Sign Up Now</a></li>
							</ul>
						</div>

						<div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0">
							<ul class="price-table style1">
								<li class="plan-name">
									<h3>Premium Plan</h3>
								</li>
								<li class="plan-price grey">
									149$
									<p class="small-text">per hour</p>
								</li>
								<li class="features-list">
									<ul>
										<li class="enabled">Feature 01</li>
										<li class="enabled">Feature 02</li>
										<li class="enabled">Feature 03</li>
										<li class="enabled">Feature 04</li>
										<li class="enabled">Feature 05</li>
									</ul>
								</li>
								<li class="call-to-action"><a href="#" class="theme_button inverse">Sign Up Now</a></li>
							</ul>
						</div>

					</div>

					<div class="row">
						<div class="col-sm-12">
							<hr class="divider_40">
							<h2>Pricing Plans - Style 2:</h2>

						</div>
					</div>

					<div class="row">
						<div class="col-md-4 col-sm-6">
							<ul class="price-table style2">
								<li class="plan-name">
									<h3>Basic Plan</h3>
								</li>
								<li class="plan-price grey">
									49$
									<p class="small-text">per hour</p>
								</li>
								<li class="features-list">
									<ul>
										<li class="enabled">Feature 01</li>
										<li class="enabled">Feature 02</li>
										<li class="enabled">Feature 03</li>
										<li class="disabled">Feature 04</li>
										<li class="disabled">Feature 05</li>
									</ul>
								</li>
								<li class="call-to-action"><a href="#" class="theme_button inverse">Sign Up Now</a></li>
							</ul>
						</div>

						<div class="col-md-4 col-sm-6">
							<ul class="price-table style2">
								<li class="plan-name">
									<h3>Advanced Plan</h3>
								</li>
								<li class="plan-price grey">
									99$
									<p class="small-text">per hour</p>
								</li>
								<li class="features-list">
									<ul>
										<li class="enabled">Feature 01</li>
										<li class="enabled">Feature 02</li>
										<li class="enabled">Feature 03</li>
										<li class="enabled">Feature 04</li>
										<li class="disabled">Feature 05</li>
									</ul>
								</li>
								<li class="call-to-action"><a href="#" class="theme_button color1">Sign Up Now</a></li>
							</ul>
						</div>

						<div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0">
							<ul class="price-table style2">
								<li class="plan-name">
									<h3>Premium Plan</h3>
								</li>
								<li class="plan-price grey">
									149$
									<p class="small-text">per hour</p>
								</li>
								<li class="features-list">
									<ul>
										<li class="enabled">Feature 01</li>
										<li class="enabled">Feature 02</li>
										<li class="enabled">Feature 03</li>
										<li class="enabled">Feature 04</li>
										<li class="enabled">Feature 05</li>
									</ul>
								</li>
								<li class="call-to-action"><a href="#" class="theme_button inverse">Sign Up Now</a></li>
							</ul>
						</div>

					</div>


				</div>
			</section>
{% endblock %}