{% extends 'ep/base.html' %}
{% block content %}

			<section class="page_breadcrumbs ds parallax section_padding_top_65 section_padding_bottom_65">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2 class="highlight">404 2</h2>
							<ol class="breadcrumb darklinks">
								<li>
									<a href="index.html">
							Home
						</a>
								</li>
								<li>
									<a href="#">Pages</a>
								</li>
								<li class="active">404 2</li>
							</ol>
						</div>
					</div>
				</div>
			</section>

			<section class="ls section_padding_100">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<p class="not_found">
					<span class="highlight abril">404</span>
				</p>
							<h2 class="text-uppercase">Oops, page not found!</h2>
							<p>
					You can search what interested:
				</p>
							<div class="widget widget_search">
								<form method="get" class="searchform" action="http://webdesign-finder.com/html/gogreen/">
									<div class="form-group">
										<label class="sr-only" for="page_search">Search for:</label>
										<input type="text" id="page_search" value="" name="search" class="form-control" placeholder="Keyword">
									</div>
									<button type="submit" class="theme_button">Search</button>
								</form>
							</div>
							<p class="divider_20">
					Or<br>
				</p>
							<p>
					<a href="index.html" class="theme_button color1 wide_button">Go To Home</a>
				</p>
						</div>
					</div>
				</div>
			</section>

			<section class="ls page_copyright section_padding_15">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<p class="small-text small-spacing grey">&copy; Copyright 2017 All Rights Reserved</p>
						</div>
					</div>
				</div>
			</section>

		</div>
		<!-- eof #box_wrapper -->
	</div>
	<!-- eof #canvas -->

	<script src="js/compressed.js"></script>
	<script src="js/main.js"></script>
	<script src="js/switcher.js"></script>

{% endblock %}