{% extends 'ep/base2.html' %}
{% block content %}
			<section class="ls with_bottom_border">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-6">
							<ol class="breadcrumb darklinks">
								<li>
									<a href="#">Dashboard</a>
								</li>
								<li class="active">Edit Profile</li>
							</ol>
						</div>
						<!-- .col-* -->
						<div class="col-md-6 text-md-right">
							<span class="dashboard-daterangepicker">
								<i class="fa fa-calendar"></i>
								<span></span>
								<i class="caret"></i>
							</span>
						</div>
						<!-- .col-* -->
					</div>
					<!-- .row -->
				</div>
				<!-- .container -->
			</section>
{% if key5 %}
			<section class="ls section_padding_top_50 section_padding_bottom_50 columns_padding_10">
			<form action="{% url 'companydata' pk=request.session.id %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="container-fluid">

					<div class="row">
						<div class="col-sm-12">
							<h3>Edit User
								<small>profile</small>
							</h3>
						</div>
					</div>
					<!-- .row -->


					<div class="row">
						<div class="col-xs-12">

							<form class="form-horizontal">
								<div class="row flex-row">
									<div class="col-md-6">

										<div class="with_border with_padding">

											<h4>Company Information</h4>

											<hr>
											<div class="row form-group">
												<label class="col-lg-3 control-label">Company Name:</label>
												<div class="col-lg-9">
													{{key5.comp_name}}
												</div>
											</div>
											<div class="row form-group">
												<label class="col-lg-3 control-label">Contact Number:</label>
												<div class="col-lg-9">
													{{key5.comp_contact}}
												</div>
											</div>
											<div class="row form-group">
												<label class="col-lg-3 control-label">Company Address:</label>
												<div class="col-lg-9">
													{{key5.comp_address}}
												</div>
											</div>
											<div class="row form-group">
												<label class="col-lg-3 control-label">E-mail address:</label>
												<div class="col-lg-9">
													{{request.session.email}}
												</div>
											</div>
											<div class="row form-group">
												<label class="col-lg-3 control-label">Company Website:</label>
												<div class="col-lg-9">
													{{key5.comp_website}}
												</div>
											</div>
										</div>
										<!-- .with_border -->

									</div>
									<!-- .col-* -->

									<div class="col-md-6">
										<div class="with_border with_padding">

											<h4>Owner Information</h4>
											<hr>
											<div class="row form-group">
												<label class="col-lg-3 control-label">First Name:</label>
												<div class="col-lg-9">
													{{key5.owner_fname}}
												</div>
											</div>
											<div class="row form-group">
												<label class="col-lg-3 control-label">Last Name:</label>
												<div class="col-lg-9">
													{{key5.owner_lname}}
												</div>
											</div>
											<div class="row form-group">
												<label class="col-lg-3 control-label">Gender:</label>
												<div class="col-lg-9">
													{{key5.owner_gender}}
												</div>
											</div>
											<div class="row form-group">
												<label class="col-lg-3 control-label">Contact number:</label>
												<div class="col-lg-9">
													{{key5.owner_contact}}
												</div>
											</div>
											<div class="row form-group">
												<label class="col-lg-3 control-label">E-mail address:</label>
												<div class="col-lg-9">
													{{key5.owner_email}}
												</div>
											</div>
										</div>
										<!-- .with_border -->
									</div>
									<!-- .col-* -->

								</div>
								<!-- .row -->

								<div class="row flex-row">
									<div class="col-md-6">
										<div class="with_border with_padding">

											<h4>Security</h4>

											<hr>

											<div class="row form-group">
	
													
												
											</div>


										</div>
										

									</div>
									<!-- .col-* -->
									<div class="col-md-6">
										<div class="with_border with_padding">

											<h4>Social Networks</h4>

											<hr>

											<div class="row form-group">
												<label class="col-lg-3 control-label">FaceBook:</label>
												<div class="col-lg-9">
													{{key5.comp_fb}}
												</div>
											</div>
											<div class="row form-group">
												<label class="col-lg-3 control-label">Instagram:</label>
												<div class="col-lg-9">
													{{key5.comp_insta}}
												</div>
											</div>
											<div class="row form-group">
												<label class="col-lg-3 control-label">Twitter:</label>
												<div class="col-lg-9">
													{{key5.comp_twitter}}
												</div>
											</div>
											<div class="row form-group">
												<label class="col-lg-3 control-label">LinkedIn:</label>
												<div class="col-lg-9">
													{{key5.comp_linkedin}}	
												</div>
											</div>

										</div>
										<!-- .with_border -->
									</div>
									<!-- .col-* -->
								</div>
								<!-- .row -->
								<!-- .row -->
							</form>
						</div>
						<!-- .col-* main column -->

					</div>
					<!-- .row main columns -->
				</div>
				<!-- .container -->
			</form>
			</section>
{% endif %}
			<section class="page_copyright ds darkblue_bg_color">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-6">
							<p class="grey">&copy; Copyrights 2017</p>
						</div>
						<div class="col-sm-6 text-sm-right">
							<p class="grey">Last account activity <i class="fa fa-clock-o"></i> 52 mins ago</p>
						</div>
					</div>
				</div>
			</section>

		</div>
		<!-- eof #box_wrapper -->
	</div>
	<!-- eof #canvas -->


	<!-- chat -->
	<div class="side-dropdown side-chat dropdown">
		<a class="side-button side-chat-button" id="chat-dropdown" data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			<i class="fa fa-comments-o"></i>
		</a>

		<ul class="dropdown-menu list-unstyled" aria-labelledby="chat-dropdown">
			<li class="dropdown-title darkgrey_bg_color">
				<h4>
					Small Chat
					<span class="pull-right">14.03.2017</span>
				</h4>
			</li>
			<li>

				<ul class="list-unstyled">
					<li class="side-chat-item item-secondary">
						<h5>
							Michael Anderson
							<time class="pull-right small-chat-date" datetime="2017-03-13T08:50:40+00:00">
								08:50
							</time>
						</h5>
						<div class="danger_bg_color">
							Duis autem veum iriure dolor in hendrerit
						</div>
					</li>
					<li class="side-chat-item item-primary">
						<h5>
							Jane Walker
							<time class="pull-right small-chat-date" datetime="2017-03-13T08:50:40+00:00">
								08:52
							</time>
						</h5>
						<div class="warning_bg_color">
							Vulputate vese molestie consequatl illum
						</div>
					</li>
					<li class="side-chat-item item-secondary">
						<h5>
							Michael Anderson
							<time class="pull-right small-chat-date" datetime="2017-03-13T08:50:40+00:00">
								08:50
							</time>
						</h5>
						<div class="danger_bg_color">
							Duis autem veum iriure dolor in hendrerit
						</div>
					</li>
				</ul>
			</li>


			<li role="separator" class="divider"></li>

			<li>
				<div class="side-chat-answer">
					<form class="form-inline button-on-input">
						<div class="form-group">
							<label for="side-chat-message" class="sr-only">Message</label>
							<input type="text" class="form-control" id="side-chat-message" placeholder="Message">
						</div>
						<button type="submit" class="btn btn-danger">
							<i class="fa fa-paper-plane-o"></i>
						</button>
					</form>
				</div>
			</li>
		</ul>
	</div>
{% endblock %}