{% extends 'ep/base2.html' %}
{% block content %}
			<section class="ls with_bottom_border">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-6">
							<ol class="breadcrumb darklinks">
								<li>
									<a href="#">Homepage</a>
								</li>
								<li class="active">Dashboard</li>
							</ol>
						</div>
						<!-- .col-* -->
						<div class="col-md-6 text-md-right">
							<span class="dashboard-daterangepicker">
								<i class="fa fa-calendar"></i>
								<span></span>
								<i class="caret"></i>
							</span>
						</div>
						<!-- .col-* -->
					</div>
					<!-- .row -->
				</div>
				<!-- .container -->
			</section>

			<section class="ls section_padding_top_50 section_padding_bottom_50 columns_padding_10">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-4">
							<h3 class="dashboard-page-title">{{request.session.Cname}} 
								
								<small>{{request.session.Role}}</small>
							</h3>
						</div>
						<div class="col-md-8 text-md-right">
							<h3 class="sparklines-title">
								<sup>Today Earnings:</sup>

								$3,000

								<span class="sparklines" data-values="670,350,135,-170,-324,-386,-468,-200,55,375,520,270,790,-670,-350,135,170,324,386,468,10,55,375,520,270,790" data-type="bar" data-line-color="#eeb269" data-neg-color="#dc5753" data-height="30" data-bar-width="2">
								</span>

							</h3>

							<h3 class="sparklines-title">
								<sup>Yesterday Earn: </sup>
								$4,000

								<span class="sparklines" data-values="670,350,135,-170,-324,386,-468,-10,55,375,520,-270,790,670,-350,135,170,324,386,468,10,-55,-375,-520,270,790" data-type="bar" data-line-color="#4db19e" data-neg-color="#007ebd" data-height="30" data-bar-width="2">
								</span>
							</h3>

						</div>

					</div>
					<!-- .row -->


					<div class="row">
						<div class="col-lg-3 col-sm-6">

							<div class="teaser warning_bg_color counter-background-teaser text-center">
								<span class="counter counter-background" data-from="0" data-to="1257" data-speed="2100">0</span>
								<h3 class="counter highlight" data-from="0" data-to="1278" data-speed="2100">0</h3>
								<p>Reviews / Month</p>
							</div>

						</div>

						<div class="col-lg-3 col-sm-6">

							<div class="teaser danger_bg_color counter-background-teaser text-center">
								<span class="counter counter-background" data-from="0" data-to="346" data-speed="1500">0</span>
								<h3 class="counter highlight" data-from="0" data-to="378" data-speed="1500">0</h3>
								<p>Clients / Month</p>
							</div>

						</div>

						<div class="col-lg-3 col-sm-6">

							<div class="teaser success_bg_color counter-background-teaser text-center">
								<span class="counter counter-background" data-from="0" data-to="216" data-speed="1900">0</span>
								<h3 class="counter highlight" data-from="0" data-to="216" data-speed="1900">0</h3>
								<p>Orders / Month</p>
							</div>

						</div>

						<div class="col-lg-3 col-sm-6">

							<div class="teaser info_bg_color counter-background-teaser text-center">
								<span class="counter counter-background" data-from="0" data-to="15" data-speed="1800">0</span>
								<h3 class="counter-wrap highlight" data-from="0" data-to="346" data-speed="1800">
									<small>$</small>
									<span class="counter" data-from="0" data-to="346" data-speed="1500">0</span>
									<small class="counter-add">k</small>
								</h3>
								<p>Total Profit</p>
							</div>

						</div>
					</div>

					<div class="row">
						<!-- Yearly Visitors -->
						<div class="col-xs-12 col-md-6">
							<div class="with_border with_padding">
								<h4>Visitor Statistics</h4>
								<div class="canvas-chart-wrapper">
									<canvas class="canvas-chart-line-yearly-visitors"></canvas>
								</div>
							</div>
						</div>
						<!-- .col-* -->

						<!-- Yearly Visitors -->
						<div class="col-xs-12 col-md-6">
							<div class="with_border with_padding">
								<h4>Visitor vs Sells</h4>
								<div class="canvas-chart-wrapper">
									<canvas class="canvas-chart-line-visitors-sels"></canvas>
								</div>
								<!-- 
					Pie Chart for new visitors. Uncomment if need 
					<div>
						<canvas class="canvas-chart-pie-visitors"></canvas>
					</div>
					-->
							</div>
						</div>
						<!-- .col-* -->

					</div>
					<div class="row">

						<!-- Monthly Visitors -->
						<div class="col-xs-12 col-md-6">
							<div class="with_border with_padding">
								<h4>Monthly Visitor Statistics</h4>
								<div class="canvas-chart-wrapper">
									<canvas class="canvas-chart-line-monthly-visitors"></canvas>
								</div>
							</div>
						</div>
						<!-- .col-* -->


						<!-- Monthly Visitors -->
						<div class="col-xs-12 col-md-6">
							<div class="with_border with_padding">
								<h4>Monthly Conversion</h4>
								<div class="canvas-chart-wrapper">
									<canvas class="canvas-chart-line-conversions"></canvas>
								</div>
							</div>
						</div>
						<!-- .col-* -->
					</div>
					<!-- .row -->


				</div>
				<!-- .container -->
			</section>

			<section class="page_copyright ds darkblue_bg_color">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-6">
							<p class="grey">&copy; Copyrights 2017</p>
						</div>
						<div class="col-sm-6 text-sm-right">
							<p class="grey">Last account activity <i class="fa fa-clock-o"></i> 52 mins ago</p>
						</div>
					</div>
				</div>
			</section>

		</div>
		<!-- eof #box_wrapper -->
	</div>
	<!-- eof #canvas -->


	<!-- chat -->
	<div class="side-dropdown side-chat dropdown">
		<a class="side-button side-chat-button" id="chat-dropdown" data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			<i class="fa fa-comments-o"></i>
		</a>

		<ul class="dropdown-menu list-unstyled" aria-labelledby="chat-dropdown">
			<li class="dropdown-title darkgrey_bg_color">
				<h4>
					Small Chat
					<span class="pull-right">14.03.2017</span>
				</h4>
			</li>
			<li>

				<ul class="list-unstyled">
					<li class="side-chat-item item-secondary">
						<h5>
							Michael Anderson
							<time class="pull-right small-chat-date" datetime="2017-03-13T08:50:40+00:00">
								08:50
							</time>
						</h5>
						<div class="danger_bg_color">
							Duis autem veum iriure dolor in hendrerit
						</div>
					</li>
					<li class="side-chat-item item-primary">
						<h5>
							Jane Walker
							<time class="pull-right small-chat-date" datetime="2017-03-13T08:50:40+00:00">
								08:52
							</time>
						</h5>
						<div class="warning_bg_color">
							Vulputate vese molestie consequatl illum
						</div>
					</li>
					<li class="side-chat-item item-secondary">
						<h5>
							Michael Anderson
							<time class="pull-right small-chat-date" datetime="2017-03-13T08:50:40+00:00">
								08:50
							</time>
						</h5>
						<div class="danger_bg_color">
							Duis autem veum iriure dolor in hendrerit
						</div>
					</li>
				</ul>
			</li>


			<li role="separator" class="divider"></li>

			<li>
				<div class="side-chat-answer">
					<form class="form-inline button-on-input">
						<div class="form-group">
							<label for="side-chat-message" class="sr-only">Message</label>
							<input type="text" class="form-control" id="side-chat-message" placeholder="Message">
						</div>
						<button type="submit" class="btn btn-danger">
							<i class="fa fa-paper-plane-o"></i>
						</button>
					</form>
				</div>
			</li>
		</ul>
	</div>
{% endblock %}