{% extends 'ep/base.html' %}
{% block content %}
			<section class="page_breadcrumbs ds parallax section_padding_top_65 section_padding_bottom_65">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2 class="highlight">Gallery Left Sidebar 2 columns</h2>
							<ol class="breadcrumb darklinks">
								<li>
									<a href="index.html">
							Home
						</a>
								</li>
								<li>
									<a href="#">Gallery</a>
								</li>
								<li class="active">Gallery Left Sidebar 2 columns</li>
							</ol>
						</div>
					</div>
				</div>
			</section>


			<section class="ls section_padding_top_100 section_padding_bottom_75 columns_padding_25">
				<div class="container">
					<div class="row">


						<div class="col-sm-7 col-md-8 col-lg-8 col-sm-push-5 col-md-push-4 col-lg-push-4">


							<div class="isotope_container isotope row masonry-layout columns_margin_bottom_20" data-filters=".isotope_filters">
								<div class="isotope-item col-lg-6 col-md-12 col-sm-12 architecture">
									<article class="vertical-item content-padding post format-standard with_background rounded">

										<div class="item-media">

											<img src="images/gallery/01.jpg" alt="">

											<div class="media-links">
												<div class="links-wrap">
													<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/01.jpg"></a>
												</div>
											</div>
										</div>

										<div class="item-content">
											<header class="entry-header">
												<h4 class="entry-title">
													<a href="gallery-single.html" rel="bookmark">
									Morbi euismod
								</a>
												</h4>
											</header>
											<p>
							Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget.
						</p>
										</div>

									</article>
								</div>
								<div class="isotope-item col-lg-6 col-md-12 col-sm-12 interior">
									<article class="vertical-item content-padding post format-standard with_background rounded">

										<div class="item-media">

											<img src="images/gallery/02.jpg" alt="">

											<div class="media-links">
												<div class="links-wrap">
													<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/02.jpg"></a>
												</div>
											</div>
										</div>

										<div class="item-content">
											<header class="entry-header">
												<h4 class="entry-title">
													<a href="gallery-single.html" rel="bookmark">
									Vestibulum libero
								</a>
												</h4>
											</header>
											<p>
							Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget.
						</p>
										</div>

									</article>
								</div>
								<div class="isotope-item col-lg-6 col-md-12 col-sm-12 landscape">
									<article class="vertical-item content-padding post format-standard with_background rounded">

										<div class="item-media">

											<img src="images/gallery/03.jpg" alt="">

											<div class="media-links">
												<div class="links-wrap">
													<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/03.jpg"></a>
												</div>
											</div>
										</div>

										<div class="item-content">
											<header class="entry-header">
												<h4 class="entry-title">
													<a href="gallery-single.html" rel="bookmark">
									Pellentesque commodo
								</a>
												</h4>
											</header>
											<p>
							Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget.
						</p>
										</div>

									</article>
								</div>
								<div class="isotope-item col-lg-6 col-md-12 col-sm-12 planning">
									<article class="vertical-item content-padding post format-standard with_background rounded">

										<div class="item-media">

											<img src="images/gallery/04.jpg" alt="">

											<div class="media-links">
												<div class="links-wrap">
													<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/04.jpg"></a>
												</div>
											</div>
										</div>

										<div class="item-content">
											<header class="entry-header">
												<h4 class="entry-title">
													<a href="gallery-single.html" rel="bookmark">
									Lorem ipsum
								</a>
												</h4>
											</header>
											<p>
							Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget.
						</p>
										</div>

									</article>
								</div>
								<div class="isotope-item col-lg-6 col-md-12 col-sm-12 architecture">
									<article class="vertical-item content-padding post format-standard with_background rounded">

										<div class="item-media">

											<img src="images/gallery/05.jpg" alt="">

											<div class="media-links">
												<div class="links-wrap">
													<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/05.jpg"></a>
												</div>
											</div>
										</div>

										<div class="item-content">
											<header class="entry-header">
												<h4 class="entry-title">
													<a href="gallery-single.html" rel="bookmark">
									Sarmiento museum
								</a>
												</h4>
											</header>
											<p>
							Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget.
						</p>
										</div>

									</article>
								</div>
								<div class="isotope-item col-lg-6 col-md-12 col-sm-12 interior">
									<article class="vertical-item content-padding post format-standard with_background rounded">

										<div class="item-media">

											<img src="images/gallery/06.jpg" alt="">

											<div class="media-links">
												<div class="links-wrap">
													<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/06.jpg"></a>
												</div>
											</div>
										</div>

										<div class="item-content">
											<header class="entry-header">
												<h4 class="entry-title">
													<a href="gallery-single.html" rel="bookmark">
									Proin imperdiet
								</a>
												</h4>
											</header>
											<p>
							Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget.
						</p>
										</div>

									</article>
								</div>
								<div class="isotope-item col-lg-6 col-md-12 col-sm-12 landscape">
									<article class="vertical-item content-padding post format-standard with_background rounded">

										<div class="item-media">

											<img src="images/gallery/07.jpg" alt="">

											<div class="media-links">
												<div class="links-wrap">
													<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/07.jpg"></a>
												</div>
											</div>
										</div>

										<div class="item-content">
											<header class="entry-header">
												<h4 class="entry-title">
													<a href="gallery-single.html" rel="bookmark">
									Aenean varius
								</a>
												</h4>
											</header>
											<p>
							Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget.
						</p>
										</div>

									</article>
								</div>
								<div class="isotope-item col-lg-6 col-md-12 col-sm-12 planning">
									<article class="vertical-item content-padding post format-standard with_background rounded">

										<div class="item-media">

											<img src="images/gallery/08.jpg" alt="">

											<div class="media-links">
												<div class="links-wrap">
													<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/08.jpg"></a>
												</div>
											</div>
										</div>

										<div class="item-content">
											<header class="entry-header">
												<h4 class="entry-title">
													<a href="gallery-single.html" rel="bookmark">
									Praesent eleifend
								</a>
												</h4>
											</header>
											<p>
							Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget.
						</p>
										</div>

									</article>
								</div>
								<div class="isotope-item col-lg-6 col-md-12 col-sm-12 architecture">
									<article class="vertical-item content-padding post format-standard with_background rounded">

										<div class="item-media">

											<img src="images/gallery/09.jpg" alt="">

											<div class="media-links">
												<div class="links-wrap">
													<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/09.jpg"></a>
												</div>
											</div>
										</div>

										<div class="item-content">
											<header class="entry-header">
												<h4 class="entry-title">
													<a href="gallery-single.html" rel="bookmark">
									Phasellus volutpat
								</a>
												</h4>
											</header>
											<p>
							Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget.
						</p>
										</div>

									</article>
								</div>
								<div class="isotope-item col-lg-6 col-md-12 col-sm-12 interior">
									<article class="vertical-item content-padding post format-standard with_background rounded">

										<div class="item-media">

											<img src="images/gallery/10.jpg" alt="">

											<div class="media-links">
												<div class="links-wrap">
													<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/10.jpg"></a>
												</div>
											</div>
										</div>

										<div class="item-content">
											<header class="entry-header">
												<h4 class="entry-title">
													<a href="gallery-single.html" rel="bookmark">
									Fusce a vestibulum 
								</a>
												</h4>
											</header>
											<p>
							Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget.
						</p>
										</div>

									</article>
								</div>
								<div class="isotope-item col-lg-6 col-md-12 col-sm-12 landscape">
									<article class="vertical-item content-padding post format-standard with_background rounded">

										<div class="item-media">

											<img src="images/gallery/11.jpg" alt="">

											<div class="media-links">
												<div class="links-wrap">
													<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/11.jpg"></a>
												</div>
											</div>
										</div>

										<div class="item-content">
											<header class="entry-header">
												<h4 class="entry-title">
													<a href="gallery-single.html" rel="bookmark">
									Vivamus suscipit
								</a>
												</h4>
											</header>
											<p>
							Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget.
						</p>
										</div>

									</article>
								</div>
								<div class="isotope-item col-lg-6 col-md-12 col-sm-12 planning">
									<article class="vertical-item content-padding post format-standard with_background rounded">

										<div class="item-media">

											<img src="images/gallery/12.jpg" alt="">

											<div class="media-links">
												<div class="links-wrap">
													<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/12.jpg"></a>
												</div>
											</div>
										</div>

										<div class="item-content">
											<header class="entry-header">
												<h4 class="entry-title">
													<a href="gallery-single.html" rel="bookmark">
									Proin congue
								</a>
												</h4>
											</header>
											<p>
							Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget.
						</p>
										</div>

									</article>
								</div>
							</div>


							<div class="row">
								<div class="col-sm-12 text-center">
									<div class="topmargin_20">
										<ul class="pagination highlightlinks">
											<li class="disabled">
												<a href="#">
													<span class="sr-only">Prev</span>
													<i class="fa fa-angle-left" aria-hidden="true"></i>
												</a>
											</li>
											<li class="active"><a href="#">1</a></li>
											<li><a href="#">2</a></li>
											<li><a href="#">3</a></li>
											<li><a href="#">4</a></li>
											<li>
												<a href="#">
													<span class="sr-only">Next</span>
													<i class="fa fa-angle-right" aria-hidden="true"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>


						</div>
						<!--eof .col-sm-8 (main content)-->


						<!-- sidebar -->
						<aside class="col-sm-5 col-md-4 col-lg-4 col-sm-pull-7 col-md-pull-8 col-lg-pull-8">

							<div class="widget widget_apsc_widget">
								<h3 class="widget-title poppins">Get In touch</h3>
								<div class="apsc-icons-wrapper clearfix apsc-theme-4">
									<div class="apsc-each-profile">
										<a class="apsc-facebook-icon clearfix" href="#">
											<div class="apsc-inner-block">
												<span class="social-icon">
													<i class="fa fa-facebook apsc-facebook"></i>
													<span class="media-name">Facebook</span>
												</span>
												<span class="apsc-count">9.8K</span>
												<span class="apsc-media-type">Fans</span>
											</div>
										</a>
									</div>
									<div class="apsc-each-profile">
										<a class="apsc-twitter-icon clearfix" href="#">
											<div class="apsc-inner-block">
												<span class="social-icon">
													<i class="fa fa-twitter apsc-twitter"></i>
													<span class="media-name">Twitter</span>
												</span>
												<span class="apsc-count">4.9K</span>
												<span class="apsc-media-type">Followers</span>
											</div>
										</a>
									</div>
									<div class="apsc-each-profile">
										<a class="apsc-google-plus-icon clearfix" href="#">
											<div class="apsc-inner-block">
												<span class="social-icon">
													<i class="apsc-googlePlus fa fa-google-plus"></i>
													<span class="media-name">google+</span>
												</span>
												<span class="apsc-count">10.1M</span>
												<span class="apsc-media-type">Followers</span>
											</div>
										</a>
									</div>
									<div class="apsc-each-profile">
										<a class="apsc-instagram-icon clearfix" href="#">
											<div class="apsc-inner-block">
												<span class="social-icon">
													<i class="apsc-instagram fa fa-instagram"></i>
													<span class="media-name">Instagram</span>
												</span>
												<span class="apsc-count">4</span>
												<span class="apsc-media-type">Followers</span>
											</div>
										</a>
									</div>
									<div class="apsc-each-profile">
										<a class="apsc-youtube-icon clearfix" href="#">
											<div class="apsc-inner-block">
												<span class="social-icon">
													<i class="apsc-youtube fa fa-youtube"></i>
													<span class="media-name">Youtube</span>
												</span>
												<span class="apsc-count">2.2K</span>
												<span class="apsc-media-type">Subscriber</span>
											</div>
										</a>
									</div>
									<div class="apsc-each-profile">
										<a class="apsc-soundcloud-icon clearfix" href="#">
											<div class="apsc-inner-block">
												<span class="social-icon">
													<i class="apsc-soundcloud fa fa-soundcloud"></i>
													<span class="media-name">Soundcloud</span>
												</span>
												<span class="apsc-count">8K</span>
												<span class="apsc-media-type">Followers</span>
											</div>
										</a>
									</div>
									<div class="apsc-each-profile">
										<a class="apsc-dribble-icon clearfix" href="#">
											<div class="apsc-inner-block">
												<span class="social-icon">
													<i class="apsc-dribbble fa fa-dribbble"></i>
													<span class="media-name">dribble</span>
												</span>
												<span class="apsc-count">0</span>
												<span class="apsc-media-type">Followers</span>
											</div>
										</a>
									</div>
									<div class="apsc-each-profile">
										<a class="apsc-edit-icon clearfix" href="#">
											<div class="apsc-inner-block">
												<span class="social-icon">
													<i class="apsc-posts fa fa-edit"></i>
													<span class="media-name">Post</span>
												</span>
												<span class="apsc-count">1</span>
												<span class="apsc-media-type">Post</span>
											</div>
										</a>
									</div>
									<div class="apsc-each-profile">
										<a class="apsc-comment-icon clearfix" href="#">
											<div class="apsc-inner-block">
												<span class="social-icon">
													<i class="apsc-comments fa fa-comments"></i>
													<span class="media-name">Comment</span>
												</span>
												<span class="apsc-count">0</span>
												<span class="apsc-media-type">Comments</span>
											</div>
										</a>
									</div>

								</div>

							</div>

							<div class="widget widget_mailchimp">

								<h3 class="widget-title poppins">Newsletter</h3>

								<form class="signup" action="http://webdesign-finder.com/html/gogreen/" method="get">
									<div class="form-group">
										<input name="email" type="email" class="mailchimp_email form-control" placeholder="Email Address">
									</div>
									<button type="submit" class="theme_button">Send</button>
									<div class="response"></div>
									<p>
					Subscribe to our Newsletter right now to be updated. We promice not to spam!
				</p>

								</form>

							</div>

							<div class="widget widget_flickr">

								<h3 class="widget-title poppins">Flickr Widget</h3>
								<ul id="flickr"></ul>
							</div>

							<div class="widget widget_recent_posts">

								<h3 class="widget-title poppins">Recent Posts</h3>
								<ul class="media-list">
									<li class="media">
										<div class="media-left">
											<img src="images/recent_post1.jpg" alt="" />
										</div>
										<div class="media-body darklinks">
											<h4 class="poppins">
												<a href="blog-single-left.html">
									Pork chop filet mignon prosciut ball tip pancetta pork
								</a>
											</h4>
											<span class="entry-date highlight">
												<time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
													March 12, 2017
												</time>
											</span>
										</div>
									</li>

									<li class="media">
										<div class="media-left">
											<img src="images/recent_post2.jpg" alt="" />
										</div>
										<div class="media-body darklinks">
											<h4 class="poppins">
												<a href="blog-single-left.html">
									Biltong venison beef swine. Corned beef pork ham pork
								</a>
											</h4>
											<span class="entry-date highlight">
												<time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
													March 13, 2017
												</time>
											</span>
										</div>
									</li>

									<li class="media">
										<div class="media-left">
											<img src="images/recent_post3.jpg" alt="" />
										</div>
										<div class="media-body darklinks">
											<h4 class="poppins">
												<a href="blog-single-left.html">
									Prosciutto hamburger filet mignon
								</a>
											</h4>
											<span class="entry-date highlight">
												<time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
													March 14, 2017
												</time>
											</span>
										</div>
									</li>


								</ul>
							</div>

							<div class="widget widget_search">
								<h3 class="widget-title poppins">Search on Website</h3>
								<form method="get" class="searchform" action="http://webdesign-finder.com/html/gogreen/">
									<!-- <div class="form-group-wrap"> -->
									<div class="form-group">
										<label class="sr-only" for="widget-search">Search for:</label>
										<input id="widget-search" type="text" value="" name="search" class="form-control" placeholder="Search Keyword">
									</div>
									<button type="submit" class="theme_button color1">Search</button>
									<!-- </div> -->
								</form>
							</div>


						</aside>
						<!-- eof aside sidebar -->

					</div>

				</div>
			</section>
{% endblock %}