{% extends 'ep/base.html' %}
{% block content %}
			<section class="page_breadcrumbs ds parallax section_padding_top_65 section_padding_bottom_65">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2 class="highlight">Services</h2>
							<ol class="breadcrumb darklinks">
								<li>
									<a href="index.html">
							Home
						</a>
								</li>
								<li>
									<a href="#">Pages</a>
								</li>
								<li class="active">Services</li>
							</ol>
						</div>
					</div>
				</div>
			</section>

			<section class="ls section_padding_top_100 section_padding_bottom_100">
				<div class="container">
					<div class="row topmargin_30 columns_margin_bottom_20">
						<div class="col-md-4 col-sm-6">
							<article class="vertical-item content-padding with_background text-center rounded overflow-hidden">
								<div class="item-media">
									<img src="images/gallery/09.jpg" alt="">
								</div>
								<div class="item-content">
									<h4 class="entry-title">
										<a href="service-single.html">Hard Drive, Flash Drive &amp; SSD Destruction</a>
									</h4>
									<p class="margin_0">
							Clients can simply schedule their hard drive destruction online and through our website.
						</p>
									<a href="service-single.html" class="read-more"></a>
								</div>
							</article>
						</div>
						<div class="col-md-4 col-sm-6">
							<article class="vertical-item content-padding with_background text-center rounded overflow-hidden">
								<div class="item-media">
									<img src="images/gallery/10.jpg" alt="">
								</div>
								<div class="item-content">
									<h4 class="entry-title">
										<a href="service-single.html">Electronic Waste Collection &amp; Recycling</a>
									</h4>
									<p class="margin_0">
							Users quickly replace their electronic devices with newer, faster &amp; stronger gadgets on the market.
						</p>
									<a href="service-single.html" class="read-more"></a>
								</div>
							</article>
						</div>
						<div class="col-md-4 col-sm-6">
							<article class="vertical-item content-padding with_background text-center rounded overflow-hidden">
								<div class="item-media">
									<img src="images/gallery/03.jpg" alt="">
								</div>
								<div class="item-content">
									<h4 class="entry-title">
										<a href="service-single.html">Electronics &amp; Computer Resale</a>
									</h4>
									<p class="margin_0">
							Buyers are welcome to leave their best offer on available electronic products.
						</p>
									<a href="service-single.html" class="read-more"></a>
								</div>
							</article>
						</div>
						<div class="col-md-4 col-sm-6">
							<article class="vertical-item content-padding with_background text-center rounded overflow-hidden">
								<div class="item-media">
									<img src="images/gallery/02.jpg" alt="">
								</div>
								<div class="item-content">
									<h4 class="entry-title">
										<a href="service-single.html">Flank Picanha Ribeye &amp; Pork  Belly Meatball</a>
									</h4>
									<p class="margin_0">
							Tail sausage alcatra t-bone jerky beef spare ribs kielbasa ham doner filet mignon tenderloin tongue. 
						</p>
									<a href="service-single.html" class="read-more"></a>
								</div>
							</article>
						</div>
						<div class="col-md-4 col-sm-6">
							<article class="vertical-item content-padding with_background text-center rounded overflow-hidden">
								<div class="item-media">
									<img src="images/gallery/12.jpg" alt="">
								</div>
								<div class="item-content">
									<h4 class="entry-title">
										<a href="service-single.html">Swine Biltong Mignon &amp; Leberkas </a>
									</h4>
									<p class="margin_0">
							Sausage shank brisket jowl short ribs pancetta salami beef, strip steak meatball pastrami pork chuck.
						</p>
									<a href="service-single.html" class="read-more"></a>
								</div>
							</article>
						</div>
						<div class="col-md-4 col-sm-6">
							<article class="vertical-item content-padding with_background text-center rounded overflow-hidden">
								<div class="item-media">
									<img src="images/gallery/11.jpg" alt="">
								</div>
								<div class="item-content">
									<h4 class="entry-title">
										<a href="service-single.html">Ribeye Kielbasa &amp; Leberkas Turducken Landjaeger </a>
									</h4>
									<p class="margin_0">
							Turkey ball tip rump, alcatra swine bresaola jerky. Cow andouille alcatra, pork loin capicola.
						</p>
									<a href="service-single.html" class="read-more"></a>
								</div>
							</article>
						</div>
					</div>
				</div>
			</section>
{% endblock %}