{% extends 'ep/base.html' %}
{% block content %}
			<section class="page_breadcrumbs ds parallax section_padding_top_65 section_padding_bottom_65">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2 class="highlight">Team type 1</h2>
							<ol class="breadcrumb darklinks">
								<li>
									<a href="index.html">
							Home
						</a>
								</li>
								<li>
									<a href="#">Team</a>
								</li>
								<li class="active">Team type 1</li>
							</ol>
						</div>
					</div>
				</div>
			</section>

			<section class="ls page_portfolio section_padding_top_100 section_padding_bottom_100">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">

							<div class="isotope_container isotope row masonry-layout columns_margin_bottom_20">

								<div class="isotope-item col-lg-4 col-md-6 col-sm-12">
									<div class="vertical-item content-padding with_background text-center rounded overflow-hidden">
										<div class="item-media">
											<img src="images/team/01.jpg" alt="" />
										</div>
										<div class="item-content">
											<h4 class="poppins margin_0">
												<a href="team-single.html">Lucille Moran</a>
											</h4>
											<p class="small-text highlight2">director</p>
											<p>
					Cow ham hock sausage ribeye fatback. Pig sausage turducken, beef drumstick corned beef andouille.
				</p>
											<p>
					<a href="#" class="social-icon soc-facebook"></a>
					<a href="#" class="social-icon soc-twitter"></a>
					<a href="#" class="social-icon soc-google"></a>
				</p>
										</div>
									</div>
								</div>

								<div class="isotope-item col-lg-4 col-md-6 col-sm-12">
									<div class="vertical-item content-padding with_background text-center rounded overflow-hidden">
										<div class="item-media">
											<img src="images/team/02.jpg" alt="" />
										</div>
										<div class="item-content">
											<h4 class="poppins margin_0">
												<a href="team-single.html">Gregory Rondeau</a>
											</h4>
											<p class="small-text highlight2">Manager</p>
											<p>
					Cow ham hock sausage ribeye fatback. Pig sausage turducken, beef drumstick corned beef andouille.
				</p>
											<p>
					<a href="#" class="social-icon soc-facebook"></a>
					<a href="#" class="social-icon soc-twitter"></a>
					<a href="#" class="social-icon soc-google"></a>
				</p>
										</div>
									</div>
								</div>

								<div class="isotope-item col-lg-4 col-md-6 col-sm-12">
									<div class="vertical-item content-padding with_background text-center rounded overflow-hidden">
										<div class="item-media">
											<img src="images/team/03.jpg" alt="" />
										</div>
										<div class="item-content">
											<h4 class="poppins margin_0">
												<a href="team-single.html">Gregory Rondeau</a>
											</h4>
											<p class="small-text highlight2">Lawyer</p>
											<p>
					Cow ham hock sausage ribeye fatback. Pig sausage turducken, beef drumstick corned beef andouille.
				</p>
											<p>
					<a href="#" class="social-icon soc-facebook"></a>
					<a href="#" class="social-icon soc-twitter"></a>
					<a href="#" class="social-icon soc-google"></a>
				</p>
										</div>
									</div>
								</div>

								<div class="isotope-item col-lg-4 col-md-6 col-sm-12">
									<div class="vertical-item content-padding with_background text-center rounded overflow-hidden">
										<div class="item-media">
											<img src="images/team/04.jpg" alt="" />
										</div>
										<div class="item-content">
											<h4 class="poppins margin_0">
												<a href="team-single.html">Gregory Rondeau</a>
											</h4>
											<p class="small-text highlight2">Concultant</p>
											<p>
					Cow ham hock sausage ribeye fatback. Pig sausage turducken, beef drumstick corned beef andouille.
				</p>
											<p>
					<a href="#" class="social-icon soc-facebook"></a>
					<a href="#" class="social-icon soc-twitter"></a>
					<a href="#" class="social-icon soc-google"></a>
				</p>
										</div>
									</div>
								</div>

								<div class="isotope-item col-lg-4 col-md-6 col-sm-12">
									<div class="vertical-item content-padding with_background text-center rounded overflow-hidden">
										<div class="item-media">
											<img src="images/team/05.jpg" alt="" />
										</div>
										<div class="item-content">
											<h4 class="poppins margin_0">
												<a href="team-single.html">Gregory Rondeau</a>
											</h4>
											<p class="small-text highlight2">Manager</p>
											<p>
					Cow ham hock sausage ribeye fatback. Pig sausage turducken, beef drumstick corned beef andouille.
				</p>
											<p>
					<a href="#" class="social-icon soc-facebook"></a>
					<a href="#" class="social-icon soc-twitter"></a>
					<a href="#" class="social-icon soc-google"></a>
				</p>
										</div>
									</div>
								</div>

								<div class="isotope-item col-lg-4 col-md-6 col-sm-12">
									<div class="vertical-item content-padding with_background text-center rounded overflow-hidden">
										<div class="item-media">
											<img src="images/team/06.jpg" alt="" />
										</div>
										<div class="item-content">
											<h4 class="poppins margin_0">
												<a href="team-single.html">Gregory Rondeau</a>
											</h4>
											<p class="small-text highlight2">Director</p>
											<p>
					Cow ham hock sausage ribeye fatback. Pig sausage turducken, beef drumstick corned beef andouille.
				</p>
											<p>
					<a href="#" class="social-icon soc-facebook"></a>
					<a href="#" class="social-icon soc-twitter"></a>
					<a href="#" class="social-icon soc-google"></a>
				</p>
										</div>
									</div>
								</div>


							</div>
							<!-- eof .isotope_container.row -->

						</div>
					</div>
				</div>
			</section>
{% endblock %}