{% extends 'ep/base.html' %}
{% block content %}
			<section class="page_breadcrumbs ds parallax section_padding_top_65 section_padding_bottom_65">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2 class="highlight">Team type 2</h2>
							<ol class="breadcrumb darklinks">
								<li>
									<a href="index.html">
							Home
						</a>
								</li>
								<li>
									<a href="#">Team</a>
								</li>
								<li class="active">Team type 2</li>
							</ol>
						</div>
					</div>
				</div>
			</section>

			<section class="ls page_portfolio section_padding_top_100 section_padding_bottom_100">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">

							<div class="isotope_container isotope row masonry-layout columns_margin_bottom_20" data-filters=".isotope_filters">

								<div class="isotope-item col-lg-6 col-md-6 col-sm-12 category3">
									<div class="side-item content-padding with_background rounded overflow-hidden">
										<div class="row">
											<div class="col-md-6">
												<div class="item-media">
													<img src="images/team/01.jpg" alt="">
													<div class="media-links">
														<a class="abs-link" title="" href="team-single.html"></a>
													</div>
												</div>
											</div>

											<div class="col-md-6">
												<div class="item-content">

													<h4 class="poppins margin_0">
														<a href="team-single.html">Lucille Moran</a>
													</h4>
													<p class="small-text highlight2 bottommargin_10">director</p>
													<p>
									Pig sausage turducken, beef drumstick corned beef andouille.
								</p>
													<p>
									<a href="#" class="social-icon soc-facebook"></a>
									<a href="#" class="social-icon soc-twitter"></a>
									<a href="#" class="social-icon soc-google"></a>
								</p>

												</div>
											</div>

										</div>
									</div>
								</div>

								<div class="isotope-item col-lg-6 col-md-6 col-sm-12 category3">
									<div class="side-item content-padding with_background rounded overflow-hidden">
										<div class="row">
											<div class="col-md-6">
												<div class="item-media">
													<img src="images/team/02.jpg" alt="">
													<div class="media-links">
														<a class="abs-link" title="" href="team-single.html"></a>
													</div>
												</div>
											</div>

											<div class="col-md-6">
												<div class="item-content">

													<h4 class="poppins margin_0">
														<a href="team-single.html">Gregory Rondeau</a>
													</h4>
													<p class="small-text highlight2 bottommargin_10">manager</p>
													<p>
									Pig sausage turducken, beef drumstick corned beef andouille.
								</p>
													<p>
									<a href="#" class="social-icon soc-facebook"></a>
									<a href="#" class="social-icon soc-twitter"></a>
									<a href="#" class="social-icon soc-google"></a>
								</p>

												</div>
											</div>

										</div>
									</div>
								</div>

								<div class="isotope-item col-lg-6 col-md-6 col-sm-12 category3">
									<div class="side-item content-padding with_background rounded overflow-hidden">
										<div class="row">
											<div class="col-md-6">
												<div class="item-media">
													<img src="images/team/03.jpg" alt="">
													<div class="media-links">
														<a class="abs-link" title="" href="team-single.html"></a>
													</div>
												</div>
											</div>

											<div class="col-md-6">
												<div class="item-content">

													<h4 class="poppins margin_0">
														<a href="team-single.html">Gregory Rondeau</a>
													</h4>
													<p class="small-text highlight2 bottommargin_10">lawyer</p>
													<p>
									Pig sausage turducken, beef drumstick corned beef andouille.
								</p>
													<p>
									<a href="#" class="social-icon soc-facebook"></a>
									<a href="#" class="social-icon soc-twitter"></a>
									<a href="#" class="social-icon soc-google"></a>
								</p>

												</div>
											</div>

										</div>
									</div>
								</div>

								<div class="isotope-item col-lg-6 col-md-6 col-sm-12 category3">
									<div class="side-item content-padding with_background rounded overflow-hidden">
										<div class="row">
											<div class="col-md-6">
												<div class="item-media">
													<img src="images/team/04.jpg" alt="">
													<div class="media-links">
														<a class="abs-link" title="" href="team-single.html"></a>
													</div>
												</div>
											</div>

											<div class="col-md-6">
												<div class="item-content">

													<h4 class="poppins margin_0">
														<a href="team-single.html">Gregory Rondeau</a>
													</h4>
													<p class="small-text highlight2 bottommargin_10">consultant</p>
													<p>
									Pig sausage turducken, beef drumstick corned beef andouille.
								</p>
													<p>
									<a href="#" class="social-icon soc-facebook"></a>
									<a href="#" class="social-icon soc-twitter"></a>
									<a href="#" class="social-icon soc-google"></a>
								</p>

												</div>
											</div>

										</div>
									</div>
								</div>

								<div class="isotope-item col-lg-6 col-md-6 col-sm-12 category3">
									<div class="side-item content-padding with_background rounded overflow-hidden">
										<div class="row">
											<div class="col-md-6">
												<div class="item-media">
													<img src="images/team/05.jpg" alt="">
													<div class="media-links">
														<a class="abs-link" title="" href="team-single.html"></a>
													</div>
												</div>
											</div>

											<div class="col-md-6">
												<div class="item-content">

													<h4 class="poppins margin_0">
														<a href="team-single.html">Gregory Rondeau</a>
													</h4>
													<p class="small-text highlight2 bottommargin_10">manager</p>
													<p>
									Pig sausage turducken, beef drumstick corned beef andouille.
								</p>
													<p>
									<a href="#" class="social-icon soc-facebook"></a>
									<a href="#" class="social-icon soc-twitter"></a>
									<a href="#" class="social-icon soc-google"></a>
								</p>

												</div>
											</div>

										</div>
									</div>
								</div>

								<div class="isotope-item col-lg-6 col-md-6 col-sm-12 category3">
									<div class="side-item content-padding with_background rounded overflow-hidden">
										<div class="row">
											<div class="col-md-6">
												<div class="item-media">
													<img src="images/team/06.jpg" alt="">
													<div class="media-links">
														<a class="abs-link" title="" href="team-single.html"></a>
													</div>
												</div>
											</div>

											<div class="col-md-6">
												<div class="item-content">

													<h4 class="poppins margin_0">
														<a href="team-single.html">Gregory Rondeau</a>
													</h4>
													<p class="small-text highlight2 bottommargin_10">director</p>
													<p>
									Pig sausage turducken, beef drumstick corned beef andouille.
								</p>
													<p>
									<a href="#" class="social-icon soc-facebook"></a>
									<a href="#" class="social-icon soc-twitter"></a>
									<a href="#" class="social-icon soc-google"></a>
								</p>

												</div>
											</div>

										</div>
									</div>
								</div>

							</div>
							<!-- eof .isotope_container.row -->

						</div>
					</div>
				</div>
			</section>
{% endblock %}